{exp:channel:entries channel="home" dinamyc="off" status="events" sort="asc"}
  <div id="" class="text-opacity hidden" data-index="{count}">
    <h2 class="text-uppercase">{titulo_events}</h2>
    <div class="separador mt-14 mb-28"></div>
    <p class="fz-20 thin">{fecha_events}</p><!-- <sup>th</sup> -->
    <h3 class="p-0 m-0">{lugar_events}</h3>
    <p class="fz-19 pt-21 thin">{introduccion_events}</p>
    <button class="see-more relative">
      <a href="events.html" class="relative fz-20">SEE MORE PHOTOS</a>
      <div class="overlay absolute minhp-100 btn-block"></div>
    </button>
  </div>
{/exp:channel:entries}