  <section id="follow-us" class="text-white text-center">
    <div class="container ph-42-xs pv-70-md pv-0-xs">
    {exp:channel:entries channel="follow_us" dynamic="off" limit="" sort="asc" transcribe_add_lang="lang_abbreviation_1"}
      <h3 class="text-left " style="font-family:'Yaquote';">{leyenda_follow}</h3>
      <h2 class="text-left text-uppercase pl-42-md ml-7-md pl-0-xs ml-0-xs text-uppercase fz-40">{title}</h2>
      <div class="container-social clearfix text-left">
        <a href="{enlace_1}" target="_blank" class="">
          <div class="overlay"> </div>
          <h1 class="m-0 text-uppercase light {if '{exp:transcribe:language_abbreviation}' == 'es'}fz-26 pb-7{if:else} fz-36 {/if}">{subtitulo_1}</h1>
          <p class="fz-18 thin">{frase_1}</p>
          <div class="icon">
            {imagen_follow_1}
            <span class="fz-28"><img class="relative" src="{image:url}" alt=""></span>
            {/imagen_follow_1}
          </div>
        </a>
        <a href="{enlace_2}" target="_blank" class="">
          <div class="overlay"> </div>
          <h1 class="m-0 text-uppercase light {if '{exp:transcribe:language_abbreviation}' == 'es'}fz-26 pb-7{if:else} fz-36 {/if}">{subtitulo_2}</h1>
          <p class="fz-18 thin">{frase_2}</p>
          <div class="icon">
            {imagen_follow_2}
            <span class="fz-28"><img class="relative" src="{image:url}" alt=""></span>
            {/imagen_follow_2}
          </div>
        </a>
        <a href="{enlace_3}" target="_blank" class="">
          <div class="overlay"> </div>
          <h1 class="m-0 text-uppercase light {if '{exp:transcribe:language_abbreviation}' == 'es'}fz-26 pb-7{if:else} fz-36 {/if}">{subtitulo_3}</h1>
          <p class="fz-18 thin">{frase_3}</p>
          <div class="icon">
            {imagen_follow_3}
            <span class="fz-28"><img class="relative" src="{image:url}" alt=""></span>
            {/imagen_follow_3}
          </div>
        </a>
        <a href="{enlace_4}" target="_blank" class="mr-0">
          <div class="overlay"> </div>
          <h1 class="m-0 text-uppercase light {if '{exp:transcribe:language_abbreviation}' == 'es'}fz-26 pb-7{if:else} fz-36 {/if}">{subtitulo_4}</h1>
          <p class="fz-18 thin">{frase_4}</p>
          <div class="icon">
            {imagen_follow_4}
            <span class="fz-28"><img class="relative" src="{image:url}" alt=""></span>
            {/imagen_follow_4}
          </div>
        </a>
      </div>
    {/exp:channel:entries}
    </div>
  </section>