      <footer>
        <ul class="row type-style-none family-museosans pd-5-15">
          <li class="col-md-6 col-xs-12">
            <div class="col-xs-6 p-0 footer-logo">
              <img src="{site_url}app/assets/img/iconos-logos/icono-H-footer.png" class="w-100" alt="">
            </div>
            <div class="col-xs-9 pr-0 texto">
              <p>info@piscohuamani.com</p>
              <p>(+51) 456 - 34562</p>
              <p>© 2015 Huamaní; Incorporated</p>
              <p>Ramón Ribeyro 188, Miraflores. PERÚ</p>
            </div>
          </li>
          <li class="col-md-3 col-xs-6">
            <p><a href="blog.html">BLOG</a></p>
            <p><a href="faqs.html">FAQs</a></p>
            <p><a href="terms.html">TERMS OF USE</a></p>
          </li> 
          <li class="col-md-3 col-xs-6">
            <p><a href="media-kit.html">MEDIA KIT</a></p>
            <p><a href="contact.html">CONTACT US</a></p>
          </li>
        </ul> 
      </footer>
    </div>
    <script src="{site_url}app/assets/js/jquery.min.js"></script>
    <script src="{site_url}app/assets/js/flickity.pkgd.min.js"></script>
    <script src="{site_url}app/assets/js/gallery-control.js"></script>
    <script src="{site_url}app/assets/js/scroll-control.js"></script>
    <script src="{site_url}app/assets/js/smooth-scroll-active.js"></script>
    <script src="{site_url}app/assets/js/b3/dropdown.js"></script>
    <script src="{site_url}app/assets/js/forms-control.js"></script>
  </body>
</html> 