{embed="includes/head"}
  <body>
    <div class="site-wrapper"> <!-- Body -->
      <header class="site-menu">
        <div class="contenedor-menu text-center">
          <nav class="nav-desktop clearfix smooth hidden-xs">
            <a href="index.html" class="logo-link">
              <div><img src="assets/img/iconos-logos/logo-head-pisco-huamani.png" alt=""></div>
              <div><img src="assets/img/iconos-logos/logo-head-seleccion-pisco-huamani.png" alt=""></div>
            </a>
            <a href="#about-us" class="about-link">
              <div>ABOUT US</div>
              <div>ABOUT US</div> 
            </a>
            <a href="#the-goods" class="goods-link">
              <div>THE GOODS</div>
              <div>THE GOODS</div>
            </a>
            <a href="#make-drink" class="made-link">
              <div>MAKE A DRINK</div>
              <div>MAKE A DRINK</div>
            </a>
            <a href="#events" class="events-link">
              <div>EVENTS</div>
              <div>EVENTS</div>
            </a>
            <a href="#follow-us" class="follow-link">
              <div>FOLLOW US</div>
              <div>FOLLOW US</div>
            </a>
          </nav>
          <nav class="nav-movil hidden-lg hidden-md hidden-sm
          ">
            <a href="index.html" class="logo-link">
              <div><img src="assets/img/iconos-logos/logo-head-pisco-huamani.png" alt=""></div>
            </a>
          </nav>
        </div>
      </header> }
