      <header class="site-menu">
        <div class="contenedor-menu text-center">
          <nav class="nav-desktop clearfix smooth hidden-xs">
            <a href="#background" class="logo-link">
              <div><img src="{site_url}frontend/app/assets/img/iconos-logos/logo-head-pisco-huamani-beige-01.png" alt=""></div>
            </a>
            <a href="{embed:about}" class="about-link">
              <div>ABOUT US</div>
              <div>ABOUT US</div> 
            </a>
            <a href="{embed:goods}" class="goods-link">
              <div>THE GOODS</div>
              <div>THE GOODS</div>
            </a>
            <a href="{embed:make}" class="made-link">
              <div>MAKE A DRINK</div>
              <div>MAKE A DRINK</div>
            </a>
            <a href="{embed:events}" class="events-link">
              <div>EVENTS</div>
              <div>EVENTS</div>
            </a>
            <a href="#follow-us" class="follow-link">
              <div>FOLLOW US</div>
              <div>FOLLOW US</div>
            </a>
          </nav>
          <nav class="nav-movil hidden-lg hidden-md hidden-sm"><!--movil-->
            <a href="{path='home'}" class="logo-link"> 
              <img src="{site_url}frontend/app/assets/img/iconos-logos/logo-head-pisco-huamani.png" alt="">
            </a>
            <p class="text-menu text-white">MENÚ</p>
            <p class="text-menu text-white hidde">CERRAR</p>
            <div class="switch">
              <div class="menu-toggle"></div>
            </div>
          </nav>
        </div>
      </header> 