      <header class="site-menu">
        <div class="contenedor-menu text-center">
          <nav class="nav-desktop clearfix smooth hidden-xs">
            <a href="{embed:huamani}" class="logo-link">
              <div><img src="{site_url}frontend/app/assets/img/iconos-logos/logo13.png" alt=""></div>
            </a>
            <a href="{embed:about}" class="active-hover about-link">
              <div>{exp:transcribe:replace name="nav_about"}</div>
              <div>{exp:transcribe:replace name="nav_about"}</div>
            </a>
            <a href="{embed:goods}" class="active-hover goods-link">
              <div>{exp:transcribe:replace name="nav_goods"}</div>
              <div>{exp:transcribe:replace name="nav_goods"}</div>
            </a>
            <a href="{embed:make}" class="active-hover made-link">
              <div>{exp:transcribe:replace name="nav_make"}</div>
              <div>{exp:transcribe:replace name="nav_make"}</div>
            </a>
            <a href="{embed:events}" class="active-hover events-link">
              <div>{exp:transcribe:replace name="nav_event"}</div>
              <div>{exp:transcribe:replace name="nav_event"}</div>
            </a>
            <a href="#follow-us" class="active-hover follow-link smooth {embed:scroll-event}">
              <div>{exp:transcribe:replace name="nav_follow"}</div>
              <div>{exp:transcribe:replace name="nav_follow"}</div>
            </a>

            <div class="idiomaH">
              <select>
                <option value="" ><a href="es">SPANISH</a></option>
                <option value="" > <a href="en">ENGLISH</a></option>
              </select>
            </div>

          </nav>
          <nav class="nav-movil hidden-lg hidden-md hidden-sm"><!--movil-->
            <a href="{path='home'}" class="logo-link">
              <img src="{site_url}frontend/app/assets/img/iconos-logos/n1.png" alt="">
            </a>
            <div class="switch">
              <div class="menu-toggle"></div>
            </div>
          </nav>
        </div>
      </header>
