{exp:channel:entries channel="home" dinamyc="off" status="events" sort="asc"}
	{image_events}
		<div class="gallery-cell" style="background-image:url({image:url}); background-position-y: 30%;"><div class="overlay-events"></div></div>
	{/image_events}
	<!-- <div class="gallery-cell" style="background-image:url({site_url}frontend/app/assets/img/fotos/hero2.jpg); background-position-y: 30%;"><div class="overlay-events"></div></div>
	<div class="gallery-cell" style="background-image:url({site_url}frontend/app/assets/img/fotos/IMG_0212.png); background-position-y: 30%;"><div class="overlay-events"></div></div> -->
{/exp:channel:entries}