        <section id="overlay-menu" class="hidden-lg hidden-md">
          <ul class="text-white text-center p-0">
            <li><a href="{embed:about}" class="text-uppercase">{exp:transcribe:replace name="nav_about"}</a><div class="separador"></div>
            </li>
            <li><a href="{embed:goods}" class="text-uppercase">{exp:transcribe:replace name="nav_goods"}</a><div class="separador"></div></li>
            <li><a href="{embed:make}" class="text-uppercase">{exp:transcribe:replace name="nav_make"}</a><div class="separador"></div></li>
            <li><a href="{embed:events}" class="text-uppercase">{exp:transcribe:replace name="nav_event"}</a><div class="separador"></div></li>

            <div class="idiomaH">
              <select>
                <option value="es">ESPAÑOL</option>
                <option value="en">ENGLISH</option>
              </select>
            </div>

          </ul>
        </section>
