        <section id="overlay-menu" class="hidden-lg hidden-md">
          <ul class="text-white text-center p-0">
            <li><a href="{path='home'}" class="text-uppercase">{exp:transcribe:replace name="nav_home"}</a><div class="separador"></div>
            </li>
            <li><a href="{path='blog-en'}" class="text-uppercase">BLOG</a><div class="separador"></div></li>
            <li><a href="{path='faqs'}" class="text-uppercase">{exp:transcribe:replace name="nav_faq"}</a><div class="separador"></div></li>
            <li><a href="{path='media-kit-en'}" class="text-uppercase">{exp:transcribe:replace name="nav_media"}</a><div class="separador"></div></li>
            <li><a href="{path='terms-use'}" class="text-uppercase">{exp:transcribe:replace name="nav_term"}</a><div class="separador"></div></li>
            <li><a href="{path='contact'}" class="text-uppercase">{exp:transcribe:replace name="nav_contact"}</a></li>
          </ul>
        </section> 