{exp:channel:categories channel="faqs_ingles" style="off" dinamyc="off" category_group="3"}
<div id="section{count}" class="section">
  <h2 class="text-brown">{category_name}</h2>
  {exp:channel:entries channel="faqs_ingles" category="{category_id}" dynamic="off" style="off" sort="asc"}
    <div class="panel-group{count}" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading{absolute_count}{count}">
          <h4 class="panel-title">
            <a class="change-arrow" data-toggle="collapse" data-parent="#accordion" href="#collapse{absolute_count}{count}" aria-expanded="true" aria-controls="collapse{absolute_count}{count}">
              <img id="down" class="" src="{site_url}frontend/app/assets/img/iconos-logos/icono-contenido-sin-desplegar.png" alt="">
              <img id="up" class="hidden" src="{site_url}frontend/app/assets/img/iconos-logos/icono-contenido-desplegado.png" alt="">
              <p class="text-uppercase">{pregunta}</p>
            </a>
          </h4>
        </div>
        <div id="collapse{absolute_count}{count}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{absolute_count}">
          <div class="panel-body">
            {respuesta}
          </div>
        </div>
      </div>
    </div>
    {/exp:channel:entries}
</div>
{/exp:channel:categories}