		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{site_url}frontend/app/assets/js/menu-movil-control.js"></script>
    <script src="{site_url}frontend/app/assets/js/smooth-scroll.min.js"></script>
    <script src="{site_url}frontend/app/assets/js/b3/transition.js"></script>
    <script src="{site_url}frontend/app/assets/js/b3/collapse.js"></script>
    <script src="{site_url}frontend/app/assets/js/faqs-control.js"></script>
    <script src="{site_url}frontend/app/assets/js/ingreso-control.js"></script>