#about-us {
	background-color: #EFEFEF;
	.container-fluid {
		.history-text_1,
		.history-text_2,
		.history-text_3
		 {
			padding: 21px 56px;
		}
		.history-text_2 {
			text-align: justify;
		}
	}
}