## Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

## OS X
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

/home/piscohuamani/public_html/system/expressionengine/config/config.php
/home/piscohuamani/public_html/system/expressionengine/config/database.php
*/system/expressionengine/cache/*
