.text-center{
	text-align:center;
}
.text-left{
	text-align: left;
}
.text-white{
	color:#fff;
}
.text-bold{
	font-weight:bold;
}
.pd-0{
	padding: 0; 
}
.pd-5-15{
	padding: 5% 15%;
}
.mg-0{
	margin: 0;
}
.w-100{
	width: 100%;
}
.type-style-none{
	list-style:none;
}
.family-museosans{
	font-family: "MuseoSans";
}
.float-left{
	float:left;
}