{exp:channel:entries channel="media_kit_en" orderby="{count}" dynamic="off" category="{embed:category_id}" sort="asc"}
  {imagen_media_kit}
  <li class="col-md-4 list-unstyled pull-left">
    <div class="contenedor-imagen" style="background-image:url({image:url})" class="btn-block">
    <div class="descarga">
      <a href="{image:url:large}" download><img src="{site_url}frontend/app/assets/img/iconos-logos/icono-download.png" alt="">Hi-res</a>
      <a href="{image:url:small}" download ><img src="{site_url}frontend/app/assets/img/iconos-logos/icono-download.png" alt="">Low-res</a>
    </div>
  </li>
   {/imagen_media_kit}
{/exp:channel:entries}