{embed="includes/head"}
  <body>
      <div class="site-wrapper"> <!-- Body -->
        {embed="includes/header" huamani="{path='home'}" about="{path='home'#about-us}" goods="{path='home'}#the-goods" make="{path='home'}#make-drink" events="{path='home'}#events"} 
        <main class="site-content">
          {embed="includes/overlay-menu"}
          <div id="media-kit">
            <div class="container pv-70-sm mt-70-sm ph-21-sm ph-0-xs">
              <h1>MEDIA KIT</h1>
              <div class="separador"></div>
              <div id="menu-blog">
              {embed="media-kit-en/menu"}
              </div>
              <h2 id="sales-info" class="text-brown serif-light">SALES INFO</h2>
              <div id="downloads">
                <nav class="clearfix">
                    <div><p>ABOUT US</p>
                      <a href="" downloa><img src="{site_url}frontend/app/assets/img/iconos-logos/icono-download.png" alt="">Download</a>
                    </div>
                    <div><p>METHOD</p>
                      <a href="" download><img src="{site_url}frontend/app/assets/img/iconos-logos/icono-download.png" alt="">Download</a>
                    </div>
                    <div><p>TIMELINE</p>
                      <a href="" download><img src="{site_url}frontend/app/assets/img/iconos-logos/icono-download.png" alt="">Download</a>
                    </div>
                    <div><p>RECEPIES</p>
                      <a href="" download><img src="{site_url}frontend/app/assets/img/iconos-logos/icono-download.png" alt="">Download</a>
                    </div>
                    <div class="pr-0"><p>FAQs</p>
                      <a href="" download><img src="{site_url}frontend/app/assets/img/iconos-logos/icono-download.png" alt="">Download</a>
                    </div>
                </nav>
              </div>
              <div id="accordion" class="panel-group" role="tablist" aria-multiselectable="true">
              {exp:channel:categories channel="media_kit_en" style="linear" dinamyc="off" category_group="5"}
                <div id="galeria{count}" class="panel panel-default">
                  <div class="panel-heading" role="tab" id="heading{count}">
                    <h4 class="panel-title">
                      <a class="change-arrow" data-toggle="collapse" data-parent="#accordion" href="#collapse{count}" aria-expanded="true" aria-controls="collapse{count}">
                        <img id="down" class="hidden" src="{site_url}frontend/app/assets/img/iconos-logos/icono-contenido-sin-desplegar.png" alt=""> 
                        <img id="up" class="" src="{site_url}frontend/app/assets/img/iconos-logos/icono-contenido-desplegado.png" alt="">
                        <p class="display-ib">{category_name}</p>
                      </a>
                    </h4>
                  </div> 
                  <div id="collapse{count}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading{count}">
                    <div class="panel-body">
                      <div class="grid">
                        <ul class="row type-style-none pd-0">
                        {embed="media-kit-en/img-media-kit"}
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              {/exp:channel:categories}
              </div>
            </div>
          </div>
          {embed="includes/follow"}
        </main>
        {embed="includes/footer"}
      </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{site_url}frontend/app/assets/js/smooth-scroll.min.js"></script>
    <script src="{site_url}frontend/app/assets/js/b3/transition.js"></script>
    <script src="{site_url}frontend/app/assets/js/b3/collapse.js"></script>
    <script src="{site_url}frontend/app/assets/js/faqs-control.js"></script>
    <script src="{site_url}frontend/app/assets/js/menu-movil-control.js"></script>
    <script src="{site_url}frontend/app/assets/js/ingreso-control.js"></script>
  </body>
</html>