{embed="includes/head"}
  <body>
      <div class="site-wrapper"> <!-- Body -->
        {embed="includes/header" about="{path='home'#about-us}" goods="{path='home'}#the-goods" make="{path='home'}#make-drink" events="{path='home'}#events"} 
        <main class="site-content">
          {embed="includes/overlay-menu"}
          <div id="media-kit">
            <div class="container pv-70-sm mt-70-sm ph-21-sm ph-0-xs">
              <h1>MEDIA KIT</h1>
              <div class="separador"></div>
              <div id="menu-blog">
                <nav class="hidden-xs">
                    <a href="#sales-info" class="smooth btn-select active-select">SALES INFO</a>
                    <a href="#logos" class="smooth btn-select">LOGOS</a>
                    <a href="#bottle" class="smooth btn-select">BOTTLE</a>
                    <a href="#drink" class="smooth btn-select">DRINK</a>
                    <a href="#hacienda" class="smooth btn-select">HACIENDA</a>
                    <a href="#hacienda" class="smooth btn-select">LIFESTYLE</a>
                </nav>
                 <nav class="hidden-lg hidden-md hidden-sm">
                    <a href="#sales-info" class="smooth btn-select active-select">SALES INFO</a></br>
                    <a href="#logos" class="smooth btn-select">LOGOS</a></br>
                    <a href="#bottle" class="smooth btn-select">BOTTLE</a></br>
                    <a href="#drink" class="smooth btn-select">DRINK</a></br>
                    <a href="#hacienda" class="smooth btn-select">HACIENDA</a></br>
                    <a href="#hacienda" class="smooth btn-select">LIFESTYLE</a>
                </nav>
              </div>
              <h2 id="sales-info" class="text-brown serif-light">SALES INFO</h2>
              <div id="downloads">
                <nav class="clearfix">
                    <div><p>ABOUT US</p>
                      <a href="" downloa{site_url}frontend/app/d><img src="assets/img/iconos-logos/icono-download.png" alt="">Download</a>
                    </div>
                    <div><p>METHOD</p>
                      <a href="" download><img src="{site_url}frontend/app/assets/img/iconos-logos/icono-download.png" alt="">Download</a>
                    </div>
                    <div><p>TIMELINE</p>
                      <a href="" download><img src="{site_url}frontend/app/assets/img/iconos-logos/icono-download.png" alt="">Download</a>
                    </div>
                    <div><p>RECEPIES</p>
                      <a href="" download><img src="{site_url}frontend/app/assets/img/iconos-logos/icono-download.png" alt="">Download</a>
                    </div>
                    <div class="pr-0"><p>FAQs</p>
                      <a href="" download><img src="{site_url}frontend/app/assets/img/iconos-logos/icono-download.png" alt="">Download</a>
                    </div>
                </nav>
              </div>
              <div id="accordion" class="panel-group" role="tablist" aria-multiselectable="true">
                <div id="logos" class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                      <a class="change-arrow" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <img id="down" class="hidden" src="{site_url}frontend/app/assets/img/iconos-logos/icono-contenido-sin-desplegar.png" alt=""> 
                        <img id="up" class="" src="{site_url}frontend/app/assets/img/iconos-logos/icono-contenido-desplegado.png" alt="">
                        <p class="display-ib">LOGOS</p>
                      </a>
                    </h4>
                  </div> 
                  <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                      <div class="grid">
                        <ul class="row type-style-none pd-0">
                          <li class="col-md-4">
                            <img src="{site_url}frontend/app/assets/img/fotos/media-kit/BP1.png" class="w-100" alt="">
                            <div class="descarga">
                              <a href="" download><img src="{site_url}frontend/app/assets/img/iconos-logos/icono-download.png" alt="">Hi-res</a>
                              <a href="" download><img src="{site_url}frontend/app/assets/img/iconos-logos/icono-download.png" alt="">Low-res</a>
                            </div>
                          </li>
                          <li class="col-md-4">
                            <img src="{site_url}frontend/app/assets/img/fotos/media-kit/BP2.png" class="w-100" alt="">
                            <div class="descarga">
                              <a href="" download><img src="{site_url}frontend/app/assets/img/iconos-logos/icono-download.png" alt="">Hi-res</a>
                              <a href="" download><img src="{site_url}frontend/app/assets/img/iconos-logos/icono-download.png" alt="">Low-res</a>
                            </div>

                          </li>
                          <li class="col-md-4">
                            <img src="{site_url}frontend/app/assets/img/fotos/media-kit/BP3.png" class="w-100" alt="">
                            <div class="descarga">
                              <a href="" download><img src="{site_url}frontend/app/assets/img/iconos-logos/icono-download.png" alt="">Hi-res</a>
                              <a href="" download><img src="{site_url}frontend/app/assets/img/iconos-logos/icono-download.png" alt="">Low-res</a>
                            </div>
                          </li>
                        </ul>
                          <ul class="row type-style-none pd-0">
                          <li class="col-md-4">
                            <img src="{site_url}frontend/app/assets/img/fotos/media-kit/BP4.png" class="w-100" alt="">
                            <div class="descarga">
                              <a href="" download><img src="{site_url}frontend/app/assets/img/iconos-logos/icono-download.png" alt="">Hi-res</a>
                              <a href="" download><img src="{site_url}frontend/app/assets/img/iconos-logos/icono-download.png" alt="">Low-res</a>
                            </div>
                          </li>
                          <li class="col-md-4">
                            <img src="{site_url}frontend/app/assets/img/fotos/media-kit/BP5.png" class="w-100" alt="">
                            <div class="descarga">
                              <a href="" download><img src="{site_url}frontend/app/assets/img/iconos-logos/icono-download.png" alt="">Hi-res</a>
                              <a href="" download><img src="{site_url}frontend/app/assets/img/iconos-logos/icono-download.png" alt="">Low-res</a>
                            </div>
                          </li>
                          <li class="col-md-4">
                            <img src="{site_url}frontend/app/assets/img/fotos/media-kit/BP6.png" class="w-100" alt="">
                            <div class="descarga">
                              <a href="" download><img src="{site_url}frontend/app/assets/img/iconos-logos/icono-download.png" alt="">Hi-res</a>
                              <a href="" download><img src="{site_url}frontend/app/assets/img/iconos-logos/icono-download.png" alt="">Low-res</a>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="bottle" class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                      <a class="change-arrow" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                        <img id="down" class="hidden" src="{site_url}frontend/app/assets/img/iconos-logos/icono-contenido-sin-desplegar.png" alt=""> 
                        <img id="up" src="{site_url}frontend/app/assets/img/iconos-logos/icono-contenido-desplegado.png" alt="">
                        <p class="display-ib">BOTTLE PHOTOS</p>
                      </a>
                    </h4>
                  </div> 
                  <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                      <div class="grid">
                        <ul class="row type-style-none pd-0">
                          <li class="col-md-4">
                            <img src="{site_url}frontend/app/assets/img/fotos/media-kit/BP1.png" class="w-100" alt="">
                            <div class="descarga">
                              <a href="" download><img src="{site_url}frontend/app/assets/img/iconos-logos/icono-download.png" alt="">Hi-res</a>
                              <a href="" download><img src="{site_url}frontend/app/assets/img/iconos-logos/icono-download.png" alt="">Low-res</a>
                            </div>
                          </li>
                          <li class="col-md-4">
                            <img src="{site_url}frontend/app/assets/img/fotos/media-kit/BP2.png" class="w-100" alt="">
                            <div class="descarga">
                              <a href="" download><img src="{site_url}frontend/app/assets/img/iconos-logos/icono-download.png" alt="">Hi-res</a>
                              <a href="" download><img src="{site_url}frontend/app/assets/img/iconos-logos/icono-download.png" alt="">Low-res</a>
                            </div>

                          </li>
                          <li class="col-md-4">
                            <img src="{site_url}frontend/app/assets/img/fotos/media-kit/BP3.png" class="w-100" alt="">
                            <div class="descarga">
                              <a href="" download><img src="{site_url}frontend/app/assets/img/iconos-logos/icono-download.png" alt="">Hi-res</a>
                              <a href="" download><img src="{site_url}frontend/app/assets/img/iconos-logos/icono-download.png" alt="">Low-res</a>
                            </div>
                          </li>
                        </ul>
                          <ul class="row type-style-none pd-0">
                          <li class="col-md-4">
                            <img src="{site_url}frontend/app/assets/img/fotos/media-kit/BP4.png" class="w-100" alt="">
                            <div class="descarga">
                              <a href="" download><img src="{site_url}frontend/app/assets/img/iconos-logos/icono-download.png" alt="">Hi-res</a>
                              <a href="" download><img src="{site_url}frontend/app/assets/img/iconos-logos/icono-download.png" alt="">Low-res</a>
                            </div>
                          </li>
                          <li class="col-md-4">
                            <img src="{site_url}frontend/app/assets/img/fotos/media-kit/BP5.png" class="w-100" alt="">
                            <div class="descarga">
                              <a href="" download><img src="{site_url}frontend/app/assets/img/iconos-logos/icono-download.png" alt="">Hi-res</a>
                              <a href="" download><img src="{site_url}frontend/app/assets/img/iconos-logos/icono-download.png" alt="">Low-res</a>
                            </div>
                          </li>
                          <li class="col-md-4">
                            <img src="{site_url}frontend/app/assets/img/fotos/media-kit/BP6.png" class="w-100" alt="">
                            <div class="descarga">
                              <a href="" download><img src="{site_url}frontend/app/assets/img/iconos-logos/icono-download.png" alt="">Hi-res</a>
                              <a href="" download><img src="{site_url}frontend/app/assets/img/iconos-logos/icono-download.png" alt="">Low-res</a>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="drink" class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                      <a class="change-arrow" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                        <img id="down" class="hidden" src="{site_url}frontend/app/assets/img/iconos-logos/icono-contenido-sin-desplegar.png" alt=""> 
                        <img id="up" src="{site_url}frontend/app/assets/img/iconos-logos/icono-contenido-desplegado.png" alt="">
                        <p class="display-ib">DRINK PHOTOS</p>
                      </a>
                    </h4>
                  </div> 
                  <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                      <div class="grid">
                        <ul class="row type-style-none pd-0">
                          <li class="col-md-4">
                            <img src="{site_url}frontend/app/assets/img/fotos/media-kit/BP1.png" class="w-100" alt="">
                            <div class="descarga">
                              <a href="" download><img src="{site_url}frontend/app/assets/img/iconos-logos/icono-download.png" alt="">Hi-res</a>
                              <a href="" download><img src="{site_url}frontend/app/assets/img/iconos-logos/icono-download.png" alt="">Low-res</a>
                            </div>
                          </li>
                          <li class="col-md-4">
                            <img src="{site_url}frontend/app/assets/img/fotos/media-kit/BP2.png" class="w-100" alt="">
                            <div class="descarga">
                              <a href="" download><img src="{site_url}frontend/app/assets/img/iconos-logos/icono-download.png" alt="">Hi-res</a>
                              <a href="" download><img src="{site_url}frontend/app/assets/img/iconos-logos/icono-download.png" alt="">Low-res</a>
                            </div>

                          </li>
                          <li class="col-md-4">
                            <img src="{site_url}frontend/app/assets/img/fotos/media-kit/BP3.png" class="w-100" alt="">
                            <div class="descarga">
                              <a href="" download><img src="{site_url}frontend/app/assets/img/iconos-logos/icono-download.png" alt="">Hi-res</a>
                              <a href="" download><img src="{site_url}frontend/app/assets/img/iconos-logos/icono-download.png" alt="">Low-res</a>
                            </div>
                          </li>
                        </ul>
                          <ul class="row type-style-none pd-0">
                          <li class="col-md-4">
                            <img src="{site_url}frontend/app/assets/img/fotos/media-kit/BP4.png" class="w-100" alt="">
                            <div class="descarga">
                              <a href="" download><img src="{site_url}frontend/app/assets/img/iconos-logos/icono-download.png" alt="">Hi-res</a>
                              <a href="" download><img src="{site_url}frontend/app/assets/img/iconos-logos/icono-download.png" alt="">Low-res</a>
                            </div>
                          </li>
                          <li class="col-md-4">
                            <img src="{site_url}frontend/app/assets/img/fotos/media-kit/BP5.png" class="w-100" alt="">
                            <div class="descarga">
                              <a href="" download><img src="{site_url}frontend/app/assets/img/iconos-logos/icono-download.png" alt="">Hi-res</a>
                              <a href="" download><img src="{site_url}frontend/app/assets/img/iconos-logos/icono-download.png" alt="">Low-res</a>
                            </div>
                          </li>
                          <li class="col-md-4">
                            <img src="{site_url}frontend/app/assets/img/fotos/media-kit/BP6.png" class="w-100" alt="">
                            <div class="descarga">
                              <a href="" download><img src="{site_url}frontend/app/assets/img/iconos-logos/icono-download.png" alt="">Hi-res</a>
                              <a href="" download><img src="{site_url}frontend/app/assets/img/iconos-logos/icono-download.png" alt="">Low-res</a>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="hacienda" class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingFour">
                    <h4 class="panel-title">
                      <a class="change-arrow" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseOne">
                        <img id="down" class="hidden" src="{site_url}frontend/app/assets/img/iconos-logos/icono-contenido-sin-desplegar.png" alt=""> 
                        <img id="up" src="{site_url}frontend/app/assets/img/iconos-logos/icono-contenido-desplegado.png" alt="">
                        <p class="display-ib">HACIENDA PHOTOS</p>
                      </a>
                    </h4>
                  </div> 
                  <div id="collapseFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFour">
                    <div class="panel-body">
                      <div class="grid">
                        <ul class="row type-style-none pd-0">
                          <li class="col-md-4">
                            <img src="{site_url}frontend/app/assets/img/fotos/media-kit/BP1.png" class="w-100" alt="">
                            <div class="descarga">
                              <a href="" download><img src="{site_url}frontend/app/assets/img/iconos-logos/icono-download.png" alt="">Hi-res</a>
                              <a href="" download><img src="{site_url}frontend/app/assets/img/iconos-logos/icono-download.png" alt="">Low-res</a>
                            </div>
                          </li>
                          <li class="col-md-4">
                            <img src="{site_url}frontend/app/assets/img/fotos/media-kit/BP2.png" class="w-100" alt="">
                            <div class="descarga">
                              <a href="" download><img src="{site_url}frontend/app/assets/img/iconos-logos/icono-download.png" alt="">Hi-res</a>
                              <a href="" download><img src="{site_url}frontend/app/assets/img/iconos-logos/icono-download.png" alt="">Low-res</a>
                            </div>

                          </li>
                          <li class="col-md-4">
                            <img src="{site_url}frontend/app/assets/img/fotos/media-kit/BP3.png" class="w-100" alt="">
                            <div class="descarga">
                              <a href="" download><img src="{site_url}frontend/app/assets/img/iconos-logos/icono-download.png" alt="">Hi-res</a>
                              <a href="" download><img src="{site_url}frontend/app/assets/img/iconos-logos/icono-download.png" alt="">Low-res</a>
                            </div>
                          </li>
                        </ul>
                          <ul class="row type-style-none pd-0">
                          <li class="col-md-4">
                            <img src="{site_url}frontend/app/assets/img/fotos/media-kit/BP4.png" class="w-100" alt="">
                            <div class="descarga">
                              <a href="" download><img src="{site_url}frontend/app/assets/img/iconos-logos/icono-download.png" alt="">Hi-res</a>
                              <a href="" download><img src="{site_url}frontend/app/assets/img/iconos-logos/icono-download.png" alt="">Low-res</a>
                            </div>
                          </li>
                          <li class="col-md-4">
                            <img src="{site_url}frontend/app/assets/img/fotos/media-kit/BP5.png" class="w-100" alt="">
                            <div class="descarga">
                              <a href="" download><img src="{site_url}frontend/app/assets/img/iconos-logos/icono-download.png" alt="">Hi-res</a>
                              <a href="" download><img src="{site_url}frontend/app/assets/img/iconos-logos/icono-download.png" alt="">Low-res</a>
                            </div>
                          </li>
                          <li class="col-md-4">
                            <img src="{site_url}frontend/app/assets/img/fotos/media-kit/BP6.png" class="w-100" alt="">
                            <div class="descarga">
                              <a href="" download><img src="{site_url}frontend/app/assets/img/iconos-logos/icono-download.png" alt="">Hi-res</a>
                              <a href="" download><img src="{site_url}frontend/app/assets/img/iconos-logos/icono-download.png" alt="">Low-res</a>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingFive">
                    <h4 class="panel-title">
                      <a class="change-arrow" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseOne">
                        <img id="down" class="hidden" src="{site_url}frontend/app/assets/img/iconos-logos/icono-contenido-sin-desplegar.png" alt=""> 
                        <img id="up" src="{site_url}frontend/app/assets/img/iconos-logos/icono-contenido-desplegado.png" alt="">
                        <p class="display-ib">LIFESTYLE PHOTOS</p>
                      </a>
                    </h4>
                  </div> 
                  <div id="collapseFive" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFive">
                    <div class="panel-body">
                      <div class="grid">
                        <ul class="row type-style-none pd-0">
                          <li class="col-md-4">
                            <img src="{site_url}frontend/app/assets/img/fotos/media-kit/BP1.png" class="w-100" alt="">
                            <div class="descarga">
                              <a href="" download><img src="{site_url}frontend/app/assets/img/iconos-logos/icono-download.png" alt="">Hi-res</a>
                              <a href="" download><img src="{site_url}frontend/app/assets/img/iconos-logos/icono-download.png" alt="">Low-res</a>
                            </div>
                          </li>
                          <li class="col-md-4">
                            <img src="{site_url}frontend/app/assets/img/fotos/media-kit/BP2.png" class="w-100" alt="">
                            <div class="descarga">
                              <a href="" download><img src="{site_url}frontend/app/assets/img/iconos-logos/icono-download.png" alt="">Hi-res</a>
                              <a href="" download><img src="{site_url}frontend/app/assets/img/iconos-logos/icono-download.png" alt="">Low-res</a>
                            </div>

                          </li>
                          <li class="col-md-4">
                            <img src="{site_url}frontend/app/assets/img/fotos/media-kit/BP3.png" class="w-100" alt="">
                            <div class="descarga">
                              <a href="" download><img src="{site_url}frontend/app/assets/img/iconos-logos/icono-download.png" alt="">Hi-res</a>
                              <a href="" download><img src="{site_url}frontend/app/assets/img/iconos-logos/icono-download.png" alt="">Low-res</a>
                            </div>
                          </li>
                        </ul>
                          <ul class="row type-style-none pd-0">
                          <li class="col-md-4">
                            <img src="{site_url}frontend/app/assets/img/fotos/media-kit/BP4.png" class="w-100" alt="">
                            <div class="descarga">
                              <a href="" download><img src="{site_url}frontend/app/assets/img/iconos-logos/icono-download.png" alt="">Hi-res</a>
                              <a href="" download><img src="{site_url}frontend/app/assets/img/iconos-logos/icono-download.png" alt="">Low-res</a>
                            </div>
                          </li>
                          <li class="col-md-4">
                            <img src="{site_url}frontend/app/assets/img/fotos/media-kit/BP5.png" class="w-100" alt="">
                            <div class="descarga">
                              <a href="" download><img src="{site_url}frontend/app/assets/img/iconos-logos/icono-download.png" alt="">Hi-res</a>
                              <a href="" download><img src="{site_url}frontend/app/assets/img/iconos-logos/icono-download.png" alt="">Low-res</a>
                            </div>
                          </li>
                          <li class="col-md-4">
                            <img src="{site_url}frontend/app/assets/img/fotos/media-kit/BP6.png" class="w-100" alt="">
                            <div class="descarga">
                              <a href="" download><img src="{site_url}frontend/app/assets/img/iconos-logos/icono-download.png" alt="">Hi-res</a>
                              <a href="" download><img src="{site_url}frontend/app/assets/img/iconos-logos/icono-download.png" alt="">Low-res</a>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {embed="includes/follow"}
        </main>
        {embed="includes/footer"}
      </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{site_url}frontend/app/assets/js/smooth-scroll.min.js"></script>
    <script src="{site_url}frontend/app/assets/js/b3/transition.js"></script>
    <script src="{site_url}frontend/app/assets/js/b3/collapse.js"></script>
    <script src="{site_url}frontend/app/assets/js/faqs-control.js"></script>
    <script src="{site_url}frontend/app/assets/js/menu-movil-control.js"></script>
    <script src="{site_url}frontend/app/assets/js/ingreso-control.js"></script>
  </body>
</html>