  <nav class="hidden-xs">
{exp:channel:categories  channel="media_kit_en" dinamyc="off" style="off" limit="1" category_group="5"}
    <a href="#galeria{count}" class="smooth text-uppercase btn-select">{category_name}</a>
{/exp:channel:categories}
  </nav>
 <!--  <nav class="hidden-lg hidden-md hidden-sm">
    <a href="#{sales}" class="smooth text-uppercase btn-select active-select">{sales} info</a></br>
    <a href="#{logos}" class="smooth text-uppercase btn-select">{logos}</a></br>
    <a href="#{bottle}" class="smooth text-uppercase btn-select">{bottle}</a></br>
    <a href="#{drink}" class="smooth text-uppercase btn-select">{drink}</a></br>
    <a href="#{hacienda}" class="smooth text-uppercase btn-select">{hacienda}</a></br>
    <a href="#{lifestyle}" class="smooth text-uppercase btn-select">{lifestyle}</a>
  </nav> -->