<!DOCTYPE html>
<html>
  <!-- ===========================================================
   ______     __  __     __  __        __     __   __     ______    
  /\  __ \   /\ \_\ \   /\ \/\ \      /\ \   /\ "-.\ \   /\  ___\   
  \ \  __ \  \ \____ \  \ \ \_\ \     \ \ \  \ \ \-.  \  \ \ \____  
   \ \_\ \_\  \/\_____\  \ \_____\     \ \_\  \ \_\\"\_\  \ \_____\ 
    \/_/\/_/   \/_____/   \/_____/      \/_/   \/_/ \/_/   \/_____/ 
  ================================================================== -->

  <!--[if IE 8]> <html class="no-js lt-ie9" lang="en" > <![endif]-->
  <!--[if gt IE 8]><!--> <html class="no-js" lang="es" > <!--<![endif]-->
  <head>
    <!--[if lt IE 9]>
    <script src="{site_url}/js/ie9/html5shiv.js"></script>
    <script src="{site_url}/js/ie9/nwmatcher-1.2.5-min.js"></script>
    <script src="{site_url}/js/ie9/respond.min.js"></script>
    <script src="{site_url}/js/ie9/selectivizr-min.js"></script>
    <![endif]-->
    <meta charset="utf-8">

    <title></title>
    <!-- Project SEO -->
    <meta name="description" content="">
    <meta name="keywords" content="" /> 
    <meta name="author" content="@MadeByGus &amp; Ayu Consulting S.A.C" />

    <!-- Responsiveness -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Open Graph -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:title" content="">
    <meta property="og:site_name" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="">

    <!-- Twitter Cards -->
    <meta name="twitter:card" content="">
    <meta name="twitter:title" content="">
    <meta name="twitter:url" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:site" content="">
    <meta name="twitter:creator" content="">
    <meta name="twitter:image" content="">

    <!-- FAVICON -->
    <link rel="shortcut icon" href="img/favicon.ico">

    <!-- Apple Mobile -->
    <meta name="apple-mobile-web-app-title" content="">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Apple icons -->
    <link rel="apple-touch-icon" sizes="156x156" href="#">
    <link rel="apple-touch-icon" sizes="128x128" href="#">
    <link rel="apple-touch-icon" sizes="76x76" href="#">
    <link rel="apple-touch-icon" href="#">

    <!-- WebFonts -->
    <script src="//use.typekit.net/hyh3zkn.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

    <!-- APP STYLES -->
    <link rel="stylesheet" href="../stylesheets/main.css">
  </head>
  <body class="white">
    <div> 
      <div class="main-nav">
        <div class="navbar p-7">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="../index.html" class="text-muted"><h3>HUAMANÌ</h3></a>
          </div>
          <!--/.nav-collapse -->
        </div>
      </div>
      <div class="container-sm">
        <div class="row mt-35 mb-21">
          <div class="col-md-4"></div>
          <div class="col-md-4 text-center">
            <img src="../assets/img/img.png" class="img-responsive">
          </div>
          <div class="col-md-4"></div>
        </div>
        <div class="row text-center lead mb-56">
          <h1 class="mb-0"><em>Hello there, are you over 18?</em></h1>
          <a href="../index.html" class="btn btn-home lead h2 mr-21">YES</a>
          <a class="btn btn-home lead h2 ">NO</a>
        </div>
      </div>
    </div>
    <div id="footer" class="mt-70-mob">  
      <section class="p-14 bg-success">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6 pt-7 small text-white">
              <div class="col-md-4">
                <a href="#"><p class="p-0 text-left">TERMS OF USE</p></a>
                <a href="#"><p class="p-0 text-left">FAQs</p></a>
              </div>
              <div class="col-md-4">
                <a href="#"><p class="p-0 text-left">MEDIA KIT</p></a>
                <a href="#"><p class="p-0 text-left">CONTACT US</p></a>
              </div>
              <div class="col-md-4">
                <a href="#"><p class="p-0 text-left">NEWSLETTER</p></a>
                <a href="#"><p class="p-0 text-left">BLOG</p></a>
              </div>
            </div>
            <div class="col-md-6 text-right text-white pt-7">
              <p class="p-0 text-right">FOLLOW US</p>
              <p class="p-0 text-right"> ©2014 PISCO HUAMANÍ, ICA PERÚ.Enjoy Responsibly</p>              
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- // <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../js/vendor/jquery.flexslider-min.js"></script>   
    <script src="../js/b3/transition.js"></script>
    <script src="../js/b3/collapse.js"></script>
    <script src="../js/b3/dropdown.js"></script>
    <script src="../js/b3/modernizr.custom.js"></script>
    <script src="../js/b3/cbpFWTabs.js"></script>

    <script type="text/javascript" charset="utf-8">
      $(window).load(function() {
        $('.flexslider').flexslider();
      });
    </script>
  </body>
</html>