<!DOCTYPE html>
<html>
  <!-- ===========================================================
   ______     __  __     __  __        __     __   __     ______    
  /\  __ \   /\ \_\ \   /\ \/\ \      /\ \   /\ "-.\ \   /\  ___\   
  \ \  __ \  \ \____ \  \ \ \_\ \     \ \ \  \ \ \-.  \  \ \ \____  
   \ \_\ \_\  \/\_____\  \ \_____\     \ \_\  \ \_\\"\_\  \ \_____\ 
    \/_/\/_/   \/_____/   \/_____/      \/_/   \/_/ \/_/   \/_____/ 
  ================================================================== -->

  <!--[if IE 8]> <html class="no-js lt-ie9" lang="en" > <![endif]-->
  <!--[if gt IE 8]><!--> <html class="no-js" lang="es" > <!--<![endif]-->
  <head>
    <!--[if lt IE 9]>
    <script src="{site_url}/js/ie9/html5shiv.js"></script>
    <script src="{site_url}/js/ie9/nwmatcher-1.2.5-min.js"></script>
    <script src="{site_url}/js/ie9/respond.min.js"></script>
    <script src="{site_url}/js/ie9/selectivizr-min.js"></script>
    <![endif]-->
    <meta charset="utf-8">

    <title></title>
    <!-- Project SEO -->
    <meta name="description" content="">
    <meta name="keywords" content="" /> 
    <meta name="author" content="@MadeByGus &amp; Ayu Consulting S.A.C" />

    <!-- Responsiveness -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Open Graph -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:title" content="">
    <meta property="og:site_name" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="">

    <!-- Twitter Cards -->
    <meta name="twitter:card" content="">
    <meta name="twitter:title" content="">
    <meta name="twitter:url" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:site" content="">
    <meta name="twitter:creator" content="">
    <meta name="twitter:image" content="">

    <!-- FAVICON -->
    <link rel="shortcut icon" href="img/favicon.ico">

    <!-- Apple Mobile -->
    <meta name="apple-mobile-web-app-title" content="">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Apple icons -->
    <link rel="apple-touch-icon" sizes="156x156" href="#">
    <link rel="apple-touch-icon" sizes="128x128" href="#">
    <link rel="apple-touch-icon" sizes="76x76" href="#">
    <link rel="apple-touch-icon" href="#">

    <!-- WebFonts -->
    <script src="//use.typekit.net/hyh3zkn.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

    <!-- APP STYLES -->
    <link rel="stylesheet" href="../stylesheets/main.css">
  </head>
  <body class="white">
    <div> 
      <div class="main-nav">
        <div class="navbar p-7">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="../index.html" class="text-muted"><h3>HUAMANÌ</h3></a>
          </div>
          <div class="collapse navbar-collapse terms-use">
            <ul class="nav navbar-nav pull-right">
              <li class="active">
                <a href="#about-us">ABOUT US</a>
              </li>
              <li>
                <a href="#the-goods">THE GOODS</a>
              </li>
              <li>
                <a href="#drinks">MAKE A DRINK</a>
              </li>
              <li>
                <a href="#events">EVENTS</a>
              </li>
              <li>
                <a href="#follow" id="follow">FOLLOW US</a>
              </li>
              <li>
                <a href="#"></a>
              </li>   
            </ul>
          </div>
          <!--/.nav-collapse -->
        </div>
      </div>
      <div class="container-sm">
        <div class="row">
          <div class="col-md-12">
            <h1 class="pl-14">TERMS OF USE</h1>
            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p class="text-justify">Morbi non tempor velit. Proin quis erat sed nisi interdum malesuada sit amet sit amet tellus. Integer at lectus luctus erat porta volutpat sit amet et lectus. Ut hendrerit efficitur massa, euismod rutrum sapien convallis et. Donec sed ipsum velit. Curabitur non nisi sed massa laoreet pharetra ac non nisi. Maecenas ut massa et justo consequat sagittis et ac enim. Aenean ac sem justo. Nullam non posuere tellus. Mauris posuere, ex vitae tincidunt consequat, sem quam egestas diam, sed congue nisi felis ut eros. Etiam non porttitor est. Fusce id nulla at libero cursus porta et eu felis. Vestibulum faucibus suscipit neque vel placerat.</p>
            <p class="text-justify">Nunc nec augue vel orci laoreet laoreet. Nam dolor ligula, feugiat eu congue non, scelerisque tincidunt arcu. Duis luctus auctor viverra. Suspendisse et enim sed diam aliquet volutpat eget et tortor. Aenean eget dolor viverra augue tristique sagittis. Praesent malesuada bibendum sapien ut ullamcorper. Curabitur ornare elit eget nibh varius, in vulputate risus mollis. Curabitur eget laoreet nulla, nec ultrices metus. Vivamus facilisis elit non iaculis porttitor. Morbi interdum lorem enim, non vulputate purus vestibulum sed. Fusce varius enim quam, sed ullamcorper nibh lacinia vel.</p>
            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>
      </div>
    </div>
    <div id="footer" class="mt-70-mob">  
      <section class="p-14 bg-success">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6 pt-7 small text-white">
              <div class="col-md-4">
                <a href="#"><p class="p-0 text-left">TERMS OF USE</p></a>
                <a href="#"><p class="p-0 text-left">FAQs</p></a>
              </div>
              <div class="col-md-4">
                <a href="#"><p class="p-0 text-left">MEDIA KIT</p></a>
                <a href="#"><p class="p-0 text-left">CONTACT US</p></a>
              </div>
              <div class="col-md-4">
                <a href="#"><p class="p-0 text-left">NEWSLETTER</p></a>
                <a href="#"><p class="p-0 text-left">BLOG</p></a>
              </div>
            </div>
            <div class="col-md-6 text-right text-white pt-7">
              <p class="p-0 text-right">FOLLOW US</p>
              <p class="p-0 text-right"> ©2014 PISCO HUAMANÍ, ICA PERÚ.Enjoy Responsibly</p>              
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- // <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../js/vendor/jquery.flexslider-min.js"></script>   
    <script src="../js/b3/transition.js"></script>
    <script src="../js/b3/collapse.js"></script>
    <script src="../js/b3/dropdown.js"></script>
    <script src="../js/b3/modernizr.custom.js"></script>
    <script src="../js/b3/cbpFWTabs.js"></script>

    <script type="text/javascript" charset="utf-8">
      $(window).load(function() {
        $('.flexslider').flexslider();
      });
    </script>
  </body>
</html>