{embed="includes/head"}
  <body>
    <div class="site-wrapper"> <!-- Body -->
      {embed="includes/header" about="{path='home'#about-us}" goods="{path='home'}#the-goods" make="{path='home'}#make-drink" events="{path='home'}#events"}
      <main class="site-content">
        {embed="includes/overlay-menu"}
        <div id="terms" class="pb-70">
          <div class="container ph-21 pv-70 mt-70">
            <h1 class="">TERMS OF USE</h1>
            <div class="separador"></div>
            {exp:channel:entries channel="terms_use_ingles" dynamic="off" orderby="date" sort="asc"}
              <p class="sub-title mb-0 mt-35">{titulo_terms_use}</p>
              <p>{contenido_terms_use}</p>
            {/exp:channel:entries}
          </div>
        </div>
        {embed="includes/follow"}
      </main> 
      {embed="includes/footer"}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{site_url}frontend/app/assets/js/menu-movil-control.js"></script>
    <script src="{site_url}frontend/app/assets/js/smooth-scroll-active.js"></script>
  </body>
</html>