{embed="includes/head"}
  <body>
    <div class="site-wrapper"> <!-- Body -->
      {embed="includes/header" huamani="{path='home'}" about="{path='home'#about-us}" goods="{path='home'}#the-goods" make="{path='home'}#make-drink" events="{path='home'}#events"}
      <main class="site-content">
        {embed="includes/overlay-menu" about="{path='home'#about-us}" goods="{path='home'}#the-goods" make="{path='home'}#make-drink" events="{path='home'}#events"}
        <div id="terms" class="pb-70">
          <div class="container ph-21 pv-70 mt-70">
            <h1 class="text-uppercase">{exp:transcribe:replace id="1"}TERMS OF USE{/exp:transcribe:replace}</h1>
            <div class="separador"></div>
            {exp:channel:entries channel="terms_use_ingles" dynamic="off" orderby="date" sort="asc"}
              <p class="sub-title mb-0 mt-35 text-brown">{titulo_terms_use}</p>
              <p>{contenido_terms_use}</p>
            {/exp:channel:entries}
          </div>
        </div>
        {embed="includes/follow"}
      </main> 
      {embed="includes/footer"}
    </div>
    {embed="includes/script_general"}
    {embed="includes/script_3"}
  </body>
</html>