{embed="includes/head"}
  <body>
    <div class="site-wrapper"> <!-- Body -->
      {embed="includes/header" huamani="{path='home'}" about="{path='home'#about-us}" goods="{path='home'}#the-goods" make="{path='home'}#make-drink" events="{path='home'}#events"}
      <main class="site-content">
        {embed="includes/overlay-menu"}
        <div id="faqs">
          <div class="container ph-21 ph-42-xs mt-28">
            <h1 class="text-uppercase">{exp:transcribe:replace name="nav_faq"}</h1>
            <div class="separador"></div> 
              <div id="menu-blog">
                <nav class="">
                {exp:channel:categories channel="faqs_ingles" style="off" dinamyc="off" category_group="3"}
                  <a href="#section{count}" class="smooth hidden-xs hidden-sm btn-select">{category_name}</a>
                  <a href="#section{count}" class="smooth hidden-lg hidden-md btn-select">{category_name}</a></br>
                {/exp:channel:categories}
                </nav>
              </div>
            {embed="includes/panel_group"}
          </div>
        </div>
        {embed="includes/follow"}
      </main>
      {embed="includes/footer"}
    </div> 
    {embed="includes/scripts_1"}
  </body>
</html>