{embed="includes/head"}
  <body>
    <div class="site-wrapper"> <!-- Body -->
      {embed="includes/header" huamani="{path='home'}" about="{path='home'#about-us}" goods="{path='home'}#the-goods" make="{path='home'}#make-drink" events="{path='home'}#events"}
      <main class="site-content">
        {embed="includes/overlay-menu" about="{path='home'#about-us}" goods="{path='home'}#the-goods" make="{path='home'}#make-drink" events="{path='home'}#events"}
        <div id="faqs">
          <div class="container ph-14-sm mt-28">
            <h1 class="text-uppercase">{exp:transcribe:replace name="nav_faq"}</h1>
            <div class="separador"></div> 
            {embed="includes/panel_group"}
          </div>
        </div>
        {embed="includes/follow"}
      </main>
      {embed="includes/footer"}
    </div> 
    {embed="includes/scripts_1"}
  </body>
</html>