{embed="includes/head"}
  <body>
    <div class="site-wrapper"> <!-- Body -->
      {embed="includes/header" about="{path='home'#about-us}" goods="{path='home'}#the-goods" make="{path='home'}#make-drink" events="{path='home'}#events"}
      <main class="site-content">
        {embed="includes/overlay-menu"}
        <div id="faqs">
          <div class="container ph-21 ph-42-xs mt-28">
            <h1 class="">FAQ's</h1>
            <div class="separador"></div> 
              <div id="menu-blog">
                <nav class="hidden-xs">
                {exp:channel:categories channel="faqs_ingles" style="off" dinamyc="off" category_group="3"}
                  <a href="#section{count}" class="smooth">{category_name}</a>
                {/exp:channel:categories}
                </nav>
                <nav class="hidden-lg hidden-md hidden-sm">
                    <a href="#section1" class="smooth btn-select active-select">SECCIÓN 1</a></br>
                    <a href="#section2" class="smooth btn-select">SECCIÓN 2</a></br>
                    <a href="#section3" class="smooth btn-select">SECCIÓN 3</a>
                </nav>
              </div>
            {embed="includes/panel_group"}
          </div>
        </div>
        {embed="includes/follow"}
      </main>
      {embed="includes/footer"}
    </div> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{site_url}frontend/app/assets/js/b3/transition.js"></script>
    <script src="{site_url}frontend/app/assets/js/b3/collapse.js"></script>
    <script src="{site_url}frontend/app/assets/js/faqs-control.js"></script>
    <script src="{site_url}frontend/app/assets/js/menu-movil-control.js"></script>
    <script src="{site_url}frontend/app/assets/js/ingreso-control.js"></script>
    <script src="{site_url}frontend/app/assets/js/smooth-scroll.min.js"></script>
  </body>
</html>