{embed="includes/head"}
  <body>
    <div class="site-wrapper"> <!-- Body -->
      {embed="includes/header" about="{path='home'#about-us}" goods="{path='home'}#the-goods" make="{path='home'}#make-drink" events="{path='home'}#events"} 
      <main class="site-content">
        <!-- <div class="overlay-contact minhp-100 absolute w-100" style="opacity:0">
          <div id="thanks" class="absolute text-center">
            <p>Thanks!!</p>
          </div>
        </div> -->
        {embed="includes/overlay-menu"} 
        <section id="thanks-contact" class="minhp-100">
          <div class="thanks-box ph-70 pv-42 text-center thin">
            <h3 class="mt-0">THANKS FOR CONTACT US</h3>
            <p class="pt-28">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sedumti id. Voluptatum sunt accusamus velit placeat voluptatem eos evenieterum, iste, error aspernatur.</p>
            <button class="btn btn-default text-white mt-42 ph-35 pv-7"><a href="{path='home'}">BACK TO HOMEPAGE</a></button>
          </div>
        </section>
        {embed="includes/follow"}
      </main>
      {embed="includes/footer"}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flickity/1.0.2/flickity.pkgd.js"></script>
    <script src="{site_url}frontend/app/assets/js/forms-control.js"></script>
    <script src="{site_url}frontend/app/assets/js/menu-movil-control.js"></script>
    <script src="{site_url}frontend/app/assets/js/textarea-control.js"></script>
    <script src="{site_url}frontend/app/assets/js/contact-control.js"></script>
  </body>
</html> 
