{embed="includes/head"}
  <body>
    <div class="site-wrapper"> <!-- Body -->
      {embed="includes/header" huamani="{path='home'}" about="{path='home'#about-us}" goods="{path='home'}#the-goods" make="{path='home'}#make-drink" events="{path='home'}#events"} 
      <main class="site-content" style="background-color: #3B2E29;">
        {embed="includes/overlay-menu" about="{path='home'#about-us}" goods="{path='home'}#the-goods" make="{path='home'}#make-drink" events="{path='home'}#events"}
        <section id="thanks-contact" class="container-sm minhp-100 ph-21-sm mt-42-sm pt-70-sm ph-21-xs mt-70-xs pt-70-xs">
          <div class="thanks-box ph-70-md ph-70-lg ph-28-xs ph-28-sm pv-42 text-center thin">
          {exp:channel:entries channel="thanks" dynamic="off"} 
            <h2 class="mt-0 text-uppercase">{titulo}</h2>
            <p class="pt-28">{mensaje}</p>
            <p class="text-redirect text-white mt-35 ph-35 pv-7"><a href="{path='home'}" class="text-uppercase underline">{nombre_boton}</a></button>
          {/exp:channel:entries}
          </div>
        </section>
        {embed="includes/follow"}
      </main>
      {embed="includes/footer"}
    </div>
    {embed="includes/script_general"}
    {embed="includes/script_3"}
    <script>
      $(document).ready(function(){
        setTimeout(function () {
           window.location.href= '{path="home"}';
        },3000);
      });
    </script>
  </body>
</html> 
