{embed="includes/head"}
  <body>
    <div class="site-wrapper"> <!-- Body -->
      {embed="includes/header" huamani="{path='home'}" about="{path='home'#about-us}" goods="{path='home'}#the-goods" make="{path='home'}#make-drink" events="{path='home'}#events"} 
      <main class="site-content">
        {embed="includes/overlay-menu"}
        <section id="thanks-contact" class="minhp-100">
          <div class="thanks-box ph-70 pv-42 text-center thin">
          {exp:channel:entries channel="thanks" dynamic="off"} 
            <h3 class="mt-0 text-uppercase">{titulo}</h3>
            <p class="pt-28">{mensaje}</p>
            <button class="btn btn-default text-white mt-42 ph-35 pv-7"><a href="{path='home'}" class="text-uppercase">{nombre_boton}</a></button>
          {/exp:channel:entries}
          </div>
        </section>
        {embed="includes/follow"}
      </main>
      {embed="includes/footer"}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flickity/1.0.2/flickity.pkgd.js"></script>
    <script src="{site_url}frontend/app/assets/js/forms-control.js"></script>
    <script src="{site_url}frontend/app/assets/js/menu-movil-control.js"></script>
    <script src="{site_url}frontend/app/assets/js/textarea-control.js"></script>
    <script src="{site_url}frontend/app/assets/js/contact-control.js"></script>
  </body>
</html> 
