{embed="includes/head"}
	<body>
    <div class="site-wrapper"> <!-- Body -->
      {embed="includes/header" huamani="#background" about="#about-us" goods="#the-goods" make="#make-drink" events="#events"}      
        <main class="site-content">
        {exp:channel:entries channel="home" dynamic="off" limit="1" sort="asc"}
          {embed="includes/overlay-menu"}
          <div class="img-principal text-center minhp-100 relative" id="background">
            <div class="overlay-fondo w-100 minhp-100 absolute"></div>
            <div class="texto text-white letter-spacing relative">
              <h1 class="mb-7 text-uppercase" style="font-family:Verdana; color:#f8f4e5;">{titulo_home}</h1>
              <h3 class="pt-21 fz-40" style="font-family:'Across'">{leyenda_home}</h3>
            </div>
            <div class="scroll-down relative">
              <a href="#about-us" class="active-hover active" data-scroll=""><img src="{site_url}frontend/app/assets/img/iconos-logos/icono-scrolldown.png" alt=""></a>
            </div>
          </div>
          <section id="about-us" class="pb-42 relative" style="background-image:url({site_url}frontend/app/assets/img/texturas/debut_light/textura2-crema.png); z-index:101">
            <div class="container ph-14-sm pv-70-md pv-0-xs ph-42-xs mh-14-xs">
              <div class="row">
                <div class="col-md-6">
                  <h2 class="text-brown" style="font-family:'Across'; font-size: 60px;">{leyenda_about_us}</h2>
                  {embed=home/about_us}
                </div>
                <div class="col-md-6 imagen pt-70-md mt-70-md hidden-xs hidden-sm">
                  <img src="{site_url}frontend/app/assets/img/fotos/botella.png" alt="">
                </div>
              </div>
            </div>
          </section>
          
          <section id="the-goods">
            <div class="container-lg relative pt-70-md ph-7-xs">
              <div class="container pl-14-md pl-42-xs relative" style="z-index:1">
                <h3 class="text-brown fz-45" style="font-family:'Across'; margin-bottom:5%">{leyenda_the_goods}</h3>
                <h1 class="text-brown fz-42 text-uppercase pl-35-md ml-21-md mt-0">{the_goods_titulo}</h1>
              </div>
              <div class="gallery-wrapper row">
                <div id="slider_back_goods" class="gallery-button-left" style="z-index:2">
                  <img src="{site_url}frontend/app/assets/img/iconos-logos/icono-previo-gris.png" alt="">
                </div>
                <div id="slider_next_goods" class="gallery-button-right">
                  <img src="{site_url}frontend/app/assets/img/iconos-logos/icono-siguiente-gris.png" alt="">
                </div> 
                <div class="col-xs-12 pl-0-md ph-0-xs slider-img gallery-child hidden-lg hidden-md"> <!--movil-->
                  {embed="includes/img-goods"}
                </div>
                <div class="col-md-5 col-md-offset-7 ph-0 slider-img gallery-child hidden-xs hidden-sm" style="top:-120px"> 
                  {embed="includes/img-goods"}
                </div>
              </div>
              <div class="make-text absolute pt-14-md pt-0-xs ph-42-xs" style="top:200px; width:100%">
                {embed="includes/contenido_the_goods"}
                <div class="container-sm ph-0">
                  <div id="slider-text-goods" class="slider-text-oficial2 relative col-md-6 ml-0 pl-28-md pr-0-md pr-0-xs pt-70-sm pt-0-xs text-white" style="z-index: 1;"></div>
                </div>
              </div>
            </div>
          </section> 
          <section id="make-drink" class="pv-70" style="background-image: url({site_url}frontend/app/assets/img/texturas/textura-oscura.png)">
            <div class="container ph-21">
              <div class="section-title text-white pl-35-xs">
                <h2 class="text-uppercase" style="font-family:'Verdana'!important">{make_drink_titulo}</h2>
              </div>
            </div>
            <div class="relative">
              <div class="gallery-wrapper">
                <div id="slider_back_make" class="gallery-button-left" style="z-index:3">
                  <img src="{site_url}frontend/app/assets/img/iconos-logos/icono-previo-blanco.png" alt="">
                </div>
                <div id="slider_next_make" class="gallery-button-right" style="z-index:3">
                  <img src="{site_url}frontend/app/assets/img/iconos-logos/icono-siguiente-blanco.png" alt="">
                </div>
                <div class="gallery-child pl-70-sm col-md-10 col-md-offset-2" style="z-index:2">
                  {embed="home/img_make"}
                </div>
              </div>
              <div class="make-text absolute pt-14-md pt-0-xs ph-42-xs" style="top:0px; width:100%">
                {embed="home/make_drink"}
                <div class="container-sm ph-7">
                  <div id="slider-text-make" class="slider-text-oficial2 relative ml-0 ph-0 pt-21 text-white" style="z-index: 1;"></div>
                </div>
              </div>
            </div>
          </section>
          <section id="events" class="p-0 relative minhp-100" style="overflow:hidden">
            <div class="overlay-fondo w-100 minhp-100 absolute"></div>
            <div class="container ph-21 ph-42-xs ph-42-sm">  
              <h1 class="pt-70-lg mt-42-lg pt-70-md mt-42-md pt-28-xs mt-42-xs pt-28-sm mt-42-sm" style="font-family:'Across'">{events_titulo}</h1>
            </div>
            <div class="gallery-wrapper row p-0">
              <div class="gallery-child">
                {embed="events/img_events"}
              </div>
              <div class="">
                <div id="slider_back_experience" class="gallery-button-left">
                  <img src="{site_url}frontend/app/assets/img/iconos-logos/icono-previo-blanco.png" alt="">
                </div>
                <div id="slider_next_experience" class="gallery-button-right">
                  <img src="{site_url}frontend/app/assets/img/iconos-logos/icono-siguiente-blanco.png" alt=""> 
                </div> 
              </div>
            </div>
            <!--Slider-text-->
            <div class="row pb-70 mb-70 absolute" style="padding-top: 180px; width:100%">
              {embed="events/slider_events"}
              <div class="container ph-7 clearfix ph-42 ph-70-xs ph-70-sm">
                <div id="slider-text-experience" class="slider-text-oficial relative pl-0 pr-70 pt-21-lg pt-21-md pt-0-sm pt-0-xs text-white col-md-6" style="z-index: 1;">
                </div>
              </div>
            </div>
          </section>
          {/exp:channel:entries}
          {embed="includes/follow"}
        </main>
        
      {embed="includes/footer"}
    </div>
    <script src="{site_url}frontend/app/assets/js/jquery.min.js"></script>
    <script src="{site_url}frontend/app/assets/js/flickity.pkgd.min.js"></script>
    <script src="{site_url}frontend/app/assets/js/gallery-control.js"></script>
    <script src="{site_url}frontend/app/assets/js/scroll-control.js"></script>
    <script src="{site_url}frontend/app/assets/js/smooth-scroll-active.js"></script>
    <script src="{site_url}frontend/app/assets/js/menu-movil-control.js"></script>
    <script src="{site_url}frontend/app/assets/js/faqs-control.js"></script>
    <script src="{site_url}frontend/app/assets/js/slide-texto-control.js"></script>
    <script src="{site_url}frontend/app/assets/js/goods-control.js"></script>
    <script>
      var backgrounds = [
        {embed="home/img_header"}
      ]
      $(document).ready(function () {
        var i = Math.floor(Math.random()*4)
        $("#background").attr("style", "background-image: url("+backgrounds[i]+"); background-position-y:30%");
      });
    </script>
  </body>