{exp:channel:entries channel="make_drink" dinamyc="off" sort="asc"}
  <div class="text-opacity2 hidden" data-index="{count}">
    <h2 class="light text-uppercase">{titulo_make_drink}</h2>
    <div class="separator mt-14 separator-gray-darker"></div>
    <div class="row pt-21">
      <div class="col-md-7 lead pd-l-0">
        <p class="subtitle mb-7">{ingredientes_titulo}</p>
        <ul class="type-style-none thin p-0 make-drink-list">
          {ingredientes}
        </ul>
        <p class="subtitle mb-7">{preparacion_titulo}</p>
        <p class="thin">{preparacion}</p>
      </div>
    </div>
  </div>
{/exp:channel:entries}