.header {
	// @include position(absolute, 0 0 null 0);
	// @include position(fixed, 0 0 null 0);
	// z-index: 1000;
	// -webkit-backface-visibility: hidden; 
	// -webkit-transform: translateZ(0);
	@include normalize-text;
	min-height: $header-height-control;
	width: 100%;
	.container,
	.container-sm,
	.container-fluid {
	}
	.row {
		@include flex-row-space-between;
	}
	.header-left,
	.header-right {
		// width: 50%;
	}
	.header-left,
	.header-center,
	.header-right {
		@include flex-align-center;
		@include flex-row-center;
		min-height: $header-height-control;
	}
	.header-left {

	}
	.header-center {
		text-align: center;
	}
	.header-right {
		text-align: right;
	}
}
// Uncomment for fixed-header on scroll funcionality
// header.header-fixed {
// 	@extend header.header;
// 	@include box-shadow(0 1px 1px 0px rgba($gray-light, 0.3));
// 	@include position(fixed, 0 0 null 0);
// 	@include transform(translateY(-100%));
// 	@include transition(all 0.2s ease-in-out);
// 	z-index: 1000;
// 	-webkit-backface-visibility: hidden; 
// 	background-color: white;
// 	min-height: $header-height-control;
// 	.left,
// 	.center,
// 	.right {
// 		min-height: $header-height-control;
// 	}
// 	.right {
// 		nav {
// 			a {
// 				color: $gray-dark;
// 				&:hover,
// 				&.active {
// 					color: $gray-darker;
// 				}
// 			}
// 		}
// 	}
// }

// .site-wrapper {
// 	&.header-fixed {
// 		.header-fixed {
// 			@include transform(translateY(0));
// 			@include transition(all 0.2s ease-in-out);
// 			-webkit-transform: translateZ(0);
// 		}
// 		.header {
// 			@include transform(translateY(-100%));
// 			@include transition(all 0.2s ease-in-out);
// 		}
// 	}
// }