/* 
	Hero unit
*/
.hero-unit {
	@include bg-img-control;
	height: $video-bg-height;
	position: relative;
	overflow: hidden;
	&.video-bg {
		overflow: hidden;
		height: $video-bg-height;
	}
	.overlay,
	.hero-unit-pic {
		@include position(absolute, 0 0 0 0);
		height: $video-bg-height;
	}
	.hero-unit-pic {
		img {
			width: 100%;
			height: auto;
		}
	}
}