// SIZE CONTROL VARS
$size-control-placeholder: 530px;
$banner-height: 350px; // Banners
$site-menu-width-control: 101px; // Site menu
$menu-list-icons-width: 35px;
$header-height-control: 70px; // Header
$mobile-navbar-height: 56px; // Mobile header
$video-bg-height: 490px; // Hero Unit and Videocover
$user-card-height: 42px; // User cards
$user-card-width: 70px;

@font-face{
	font-family: Across;
	src: url(../fonts/across-the-road.ttf);
}
::-webkit-validation-bubble-message {
	background-color: black;
}
html,
body {
	background-color: $body-bg;	
	&::-webkit-scrollbar { 
    display: none; 
	}
	h2 {
		font-size: 28px;
	}
	h3 {
		font-family: "museo-sans";
	}
	#content-blog,
	#faqs,
	#terms,
	#media-kit {
		background-color: #f8f4e5;
	}
	.active-select {
		border: 1px solid #8d744a!important;
	}
	.opacity-active,
	.opacity-active2,
	.opacity-active3 {
		opacity: 0;
    transition: all 0.4s ease-in-out;
	}
	.translate-active {
		@include transform (translateX(0px));
	}
	.translate-left {
		@include transform (translateX(-20px));
	}
	.translate-right {
		@include transform (translateX(20px));
	}
	.slider-text-oficial,
	.slider-text-oficial2 {
		@include transition (all 0.4s ease-in-out);
	}
}
.row {
	margin: 0!important;
}
.site-wrapper,
.site-content {
	position: relative;
	background-color: #f8f4e5;
}

.site-content {
	.section-title {
		h2 {
			font-family: "trajan-pro-3";
			font-size: 40px;
			font-size: rem(40px);
		}
		h3 {
			@include light-italic;
		}
	}
}
.hover-arrow-controls {
	@include transition(opacity .1s ease-out);
		&:hover {
			opacity: 0.5;
		}
}

/*
	Gallery buttons
*/
.gallery-button-left,
.gallery-button-right {
	@include flex-column-center;
	img {
		cursor: pointer;
		@extend .hover-arrow-controls;
	}
}

/*
	Separadores
*/
$separator-height-control: 1px;
.separator {
	height: $separator-height-control;
	@for $i from 1 through length($grayscale-list) {
		&.separator-#{nth($grayscale-sufix-list, $i)} {
			background-color: #{nth($grayscale-list, $i)};
		}
	}
}


/*
	Ingreso Fondo
*/
.overlay-fondo {
	top: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.35);
  background-color: red\9
}
.fondo {
	width: 100%;
	display: flex!important;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: center;
  background-size: cover;
  background-position-Y: 30%;
  .contenedor-fondo {
  	@include transform(translate(-50%, -50%));
  	top: 50%;
  	left: 50%;
  	position: absolute;  
  	vertical-align: middle;
  	display: flex;
  	display: table-cell;
  	flex-direction: column;
 	 	flex-wrap: wrap;
	  justify-content: center;
	  align-content: flex-start;
	  align-items: center;
  }
	h3 {
		line-height: 1.5;
		padding-top: 18px;
		font-size: 22px;
		font-size: rem(22px);
		letter-spacing: 2px;
	}
	.logo-title {
		width: 372px;
  	margin: 0 auto;
		img {
			width: 100%;
		}
	} 
}

#formulario {
	.date {
		width: 560px;
		input {
			background-color: transparent;
	  	border: 1.5px solid #fff;
	  	width: 162px;
	  	height: 40px;
	  	font-size: 19px;
	  	font-size: rem(19px);
	  	color: #fff;
	  	margin: 6px;
	  	outline: none;
	  	&::-webkit-input-placeholder {
			  color: #fff;
			  font-weight: lighter;
			}
			&:-moz-placeholder {
			  color: #fff;
			  font-weight: lighter; 
			}
			&:-ms-input-placeholder { 
			  color: #fff;
			  font-weight: lighter;
			}
		}
	}
	.action {
		padding-top: 26px;
		margin-left: 6px;
		select{
			display: none;
			option{ 
				background-color: #3b2e29;
			}
		}
		.btn-group {
			width: 164px;
			height: 30px;
			z-index: 10;
  		.btn.dropdown-toggle {
  			width: 162px;
				height: 30px;
				border-radius: 0px;
				font-size: 14px;
				font-size: rem(14px);
				background: transparent;
	  		outline: none;
	  		border: 1px solid white;
	  		padding-left: 15px;
	  		background-image: url(http://piscohuamani.laboratoria.la/frontend/app/assets/img/iconos-logos/flecha-crema.png);
		    background-repeat: no-repeat;
		    background-position-x: 95%;
		    background-size: 15px;
		    background-position-y: center;
	  		.bs-caret {
	  			display: none;
	  		}
  		}
  		.dropdown-menu.open {
  			border-radius: 0px;
  			min-width: 180px;
  			min-height: 180px!important;
  			overflow: hidden;
  			.dropdown-menu.inner {
  			  top: 0px;
  			  background-color: #3b2e29;
  			  border: 0px!important;
  			  margin: 0px;
  			  border-radius: 0px;
  			  min-height:180px!important;
  			  overflow: hidden;
  			  .glyphicon {
  			  	display: none!important;
  			  }
  			  li > a:hover {
  			  	background-color: #8d744a;
  			  	color: white!important;
  			  }
  			}
  		}
			.btn-default {
				background-color: transparent;
				width: 80px;
				height: 30px;
				color: #fff;
			  border-radius: 0;
			  border-color: transparent;
			  outline: none;
			  font-size: 14px;
			  padding: 3px 0;
			  font-weight: 300;
			  line-height: 1.7;
			  &.active-btn {
			  	border-color: white;
			  }
			}
		}
		.active {
			border-color: #8d744a;
			color: #8d744a;
		}	
	}
	.enter {
			background-color: transparent;
		  border: 1px solid white;
		  border-radius: 0;
		  font-size: 18px;
		  font-weight: lighter;
		  width: 162px;
		  height: 39px;
		  outline: none;
		  z-index: 3;
		  span {
				top: 2px;
			  right: -4px;
			  position: relative;
			}
			&.active-enter {
				border-color: white;
		    color: white;
		    background-color: rgba(250,250,250,0.3);
			}
		}
	.box {
		width: 17px;
		height: 17px;
		border: 1px solid #fff;
		position: relative;
		float: left;
		cursor: pointer;
		background-color: transparent;
 		outline: transparent;
		span {
			font-size: 30px;
		  position: absolute;
		  top: -15px;
		  left: -2px;
		  display: none;
		}
		input[type="checkbox"] {
			position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    margin: 0;
	    opacity: 0;
	    cursor: pointer;
		}
	}
	label{
		float: left;
	}
}
#country {
	cursor: pointer;
  background-repeat: no-repeat!important;
  background-position-x: 90%!important;
  background-size: 18px!important;
  background-position-y: 3px!important;
}

/*Active checkout*/
.show {
		opacity: 1;
	}

/*
	Home
*/
.site-menu {
	@include position(absolute, 0 0 null 0);
	height: 80px;
	width: 100%;
	.contenedor-menu {
		position: fixed;
	 	top: 0;
	 	left: 0;
	 	width: 100%;
	 	height: 80px;
	  background: #3b2e29;
	 	z-index: 110; 
	 	.nav-desktop {
	 		display: inline-block;
	 		a {
				height: 80px;
				text-align: center;
				text-decoration: none;
				position: relative;
				float: left;
  				div {
						font-size: 15px;
						font-size: rem(15px); 
  					color: #3b2e29;
  					letter-spacing: 0px;
  					text-decoration: none;
  					display: block;
  					text-align: center;
				  	position: relative;
				  	top: 0;
				  	line-height: 62px;
				  	display: flex;
  					flex-direction: column;
  					flex-wrap: wrap;
  					justify-content: center;
  					align-content: flex-start;
  					align-items: center;
				  	height: 78px;
				  	height: rem(78px);
				  	letter-spacing: .08em; 
				  	@include transition(all .5s);
				  	background-color: rgb(248, 244, 229);
				  	text-transform: uppercase;
				  	@include transform (rotateX(-90deg));
				  	@include transform-origin (center top);
				  	z-index: 1;
				  	padding: 0 33px;
				  	padding: 0 rem(33px);
	  				&:first-child {
	  					@include transform (rotateX(0deg));
	  					@include transform-origin (center bottom);
	  					background-color: #3b2e29;
	  					color: rgb(248, 244, 229);
	  					top: 0;
	  					z-index: 2;
	  				}
  				}
  				&:nth-child(n+2):hover {
  					div {
  						@include transform (rotateX(0deg));
  						top: -80px;
  						height: 80px;
  					}
  					div:first-child {
  						top: -70px;
  						z-index: 1;
  						@include transform (rotateX(-90deg));
  					}
  				}
	 		}
	 		a.active {
				div {
					@include transform (rotateX(0deg));
					top: -80px;
					height: 80px;
				}
				div:first-child {
					top: -70px;
					z-index: 1;
					@include transform (rotateX(90deg));
				}
			}
	 		a.logo-link div {
				width: 200px;
				width: rem(200px);
				line-height: 70px!important;
  			display: block;
				img {
					width: 100%; 
				}
			}
	 	}
	}
}

.img-principal {
	@include flex-column-center;	
	@include bg-img-control;
	background-position-y:60px;
	padding-top: 60px;
		div.texto {
			font-family: times;
			position: absolute;
			@include transform(translate(-50%, -50%));
			top: 50%;
			left: 50%;
			h1 {
				font-size: 60px;
				font-size: rem(60px);
			}
			h3 {
			font-style: italic;
			}
			p {
				font-size: 23.8px;
				font-size: rem(23.8px);
				font-family: "museo-sans";
				font-weight: lighter;
				font-style: italic;
				margin-top: 18px;
				letter-spacing: 0;
			}
		}
		.scroll-down {
			width: 90px;
			margin: 0 auto;
			padding-top: 7%;
			img {
				width: 100%;
			}
		}
}

/*
	About us
*/
#about-us {
	background-size: 30%;
	z-index:101;
	.leyenda-about {
		font-size: 60px;
	}
	h1 {
		font-size: 35px;
		font-size: rem(35px);
		font-family: Verdana;
	}
	h3 {
		font-style: italic;
		font-weight: 300;
	}
	.texto-about {
		padding: 0px 17px 0 76px;
		.separador {
			border-bottom: 1px solid #3b2e29;
			padding-top: 7px;
		}
		p {
			padding-top: 6%;
			font-size: 18.2px;
			font-size: rem(18.2px);
			font-weight: 300;
		}
	}
	.imagen {
		text-align: center;
		img {
			width: 350px;
    	max-height: 1110px;
		}
	}
	.etiqueta {
		@include transform (translate(-50%, -33%));
    left: 50%;
    top: 50%;
    width: 350px;
    height: 60%;

	}
} 

/*
	The goods
*/
#the-goods {
	background-color:rgb(248, 244, 229);
	.gallery {
		height: 630px;
		padding-top: 115px;
		z-index: 2; 
	}
	.gallery-child {
		z-index: 1;
		.flickity-viewport {
			height: 630px!important;
		}
	}
	.flickity-viewport {
		height: 500px!important;
		img {
			padding-top: 150px;
			width: 150px;
  		height: 780px;
		}
	}
	h1 {
		font-size: 35px;
		font-size: rem(35px);
		font-family: Verdana; 
	}
	h3 {
		font-style: italic;
		font-weight: 300;
		margin-bottom:5%;
	}
	.make-text {
		top: 200px;
		#slider-text-goods {
			padding-top: 9%;
			z-index: 1;
			.separador {
				border-bottom: 1px solid #3b2e29;
			}
			h4{
				padding-top: 6%;
			}
			p {
				font-size: 18.2px;
				font-size: rem(18.2px);
				font-weight: 300;
				padding-right: 20px;
			}
		}
	}	
	#slider_back_goods {
		z-index: 2;
	}
	.slider-content {
		position: relative;
		// padding-right: 9%;
		width: 50%;
		height: auto;
		top: -150px;
	}
	.gallery-wrapper{
		position: relative;
	}
	.gallery-cell {
		width: 100%;
		left: 120%;
	}
	.gallery-nav .gallery-cell.is-nav-selected {
		background: #ED2; 
	}
	.gallery-button-left {
		@include position(absolute, -210px null 0 220px);
	}
	.gallery-button-right {
		@include position(absolute, -210px 42% 0 null);
		-moz-box-shadow:    22px -19px 30px 0px rgba(248, 244, 229, 1);
	  -webkit-box-shadow: 22px -19px 30px 0px rgba(248, 244, 229, 1);
	  box-shadow:         22px -19px 30px 0px rgba(248, 244, 229, 1);
		z-index: 100;
	}
}
.active-hidden {
	opacity: 0;
	@include transition(opacity .15s ease-out);
}

/*
	Make drink
*/
$make-drink-gallery-height-control: 560px;
#make-drink {
	.gallery-wrapper {
		min-height: $make-drink-gallery-height-control;
		position: relative;
	}
	.gallery,
	.gallery-cell,
	.gallery-child {
		min-height: $make-drink-gallery-height-control; 
	}
	.gallery-button-left {
		@include position(absolute, -60px null 0 220px);
	}
	.gallery-button-right {
		@include position(absolute, -60px 220px 0 null);
	}
	#slider_back_make, #slider_next_make {
		z-index: 3;
	}
	.make-text {
		top: 0px;
		#slider-text-make {
			padding-top: 30px;
			z-index: 1;
			.subtitle {
				font-style: italic;
				font-size: 24px;
				font-size: rem(24px);
				margin-bottom: 20px;
			}
			ul {
				margin-bottom: 30px;
				li {
					font-size: 18.2px;
					font-size: rem(18.2px);
					&:before {
						content: "-"
					}
				}
			}
			p {
				font-size: 18.2px;
				font-size: rem(18.2px);
			} 
		}
	}
	.gallery-child {
		@include position(absolute, -60px 0 0 0);
		z-index: 2;
	}
}

/*
	Events
*/
#events {
	@extend #the-goods; 
	background-size: cover;
	overflow: hidden;
	.overlay-events {
		width: 100%;
		left: 0;
		top: 0;
		position: absolute;
		background-color: rgba(0,0,0,0.3);
		height: 100%;
	}
	h1 {
		position: absolute;
		z-index: 2;
		margin-top: 100px;
		font-size: 60px;
		color: #f8f4e5;
	}
	.separador {
		border-top: 1px solid #fff !important;
	}
	.flickity-viewport {
		min-height: 835px;
	}
	.container-slider-text {
		padding-top: 180px;
		#slider-text-experience {
			z-index: 1;
		}
	}
	.gallery-wrapper {
		position: relative;
	}
	.gallery {
		-webkit-box-shadow: none;
		padding-top: 0;
	}
	.gallery-child {
		position: absolute;
		width: 100%;
		.gallery-cell {
			height: 835px;
			background-size: cover;
			background-position-y: 30%;
		}
	}
	.see-more {
		background-color: transparent!important;
		padding: 2% 14%;
		margin-top: 8%;
		border: 2px solid #fff;
		@include transition(all .5s ease-in-out);
		overflow: hidden;
		background-color: rgba(250, 250, 250, 0.2);
		a {
			font-weight: 300;
			text-decoration: none;
			z-index: 1;
		}
		.overlay {
			top: 0;
			left: 0; 
			@include transition(all .2s ease-in);
		}
		&:hover {
			a {
				color: #fff;
			}
			.overlay {  
				background-color: rgba(250, 250, 250, 0.2);
			} 
		}
		input {
	 		background: transparent; 
	 		border: 0px;
	 	}
	}
	.row {
		h3 {
			font-style: normal;
			font-weight: 300;
		}
		.gallery-button-right {
			@include position(absolute, 0 0 0 null);
			z-index: 100;
  		right: 145px;
		}
		.gallery-button-left {
			z-index: 1;
			left: 140px;
		}	
		.gallery-button-right,
		.gallery-button-left {
			top: 420px;
		}

	}
	#slider-text-experience {
		color: #f8f4e5;
	}
}
#pagination .pagination > li > a {
	border: 0px;
}

/*
	Follow us
*/
#follow-us {
	background-color: #8d744a;
	// padding: 6% 17%; 
	.container-social {
		display: inline-block;
		padding-top: 4%;
		font-family: "MuseoSans";
		a {
			display: block;
			width: 180px;
			height: 180px;
			border: 1.5px solid #fff;
			float: left; 
			margin-right: 24px;
			margin-bottom: 26px;
			position: relative;
			text-decoration: none;
			overflow: hidden;
			@include transition(all .2s ease-in-out);
			padding: 18px 21px;
			.overlay{
				position: absolute;
				top: 0;
				left: 0; 
				width: 100%;
				height: 100%; 
				@include transition(all .2s ease-in-out); 
			}
			&:hover {
				color: #fff;
				.overlay { 
					background-color: rgba(250, 250, 250, 0.2);
				} 
			}
			&:nth-child(3) img{
				width: 45px;
			}
			h1, p {
				font-family: Verdana;
				position: relative;
				z-index: 1;
			} 
			p {
				padding-top: 3%;
				line-height: 1.3;
			}
			.icon {
				position: absolute;
				bottom: 8%;
				right: 8%;
			} 
		} 
	}
}

/*
	Footer
*/
footer {
	color: #3b2e29;
	background-color: #f8f4e5;
	.footer-logo {
		width: 70px; 
	}
	.texto {
		padding-left: 10%;
	}
	p {
		font-size: 14px;
		font-size: rem(14px);
		margin: 0;
		margin-bottom: 3px; 
	}
	.col-md-3 p {
		margin-bottom: 10px; 
		a {
			border-bottom: 1px solid #3b2e29;
			text-decoration: none;
			color: #3b2e29;
			&:hover {
				color: #4e3227;
			}
		} 
	}
}

/*
	Blog
*/
.site-content {
	.content-blog {
		  // padding: 132px 237px;
		  // padding: 10% 17%;
		h1 {
			color: #8d744a;
			font-family: Verdana;
		}
		.separador {
			border-bottom:1px solid #8d744a;
			padding-top:2%;
			width: 36%;
		}
		#menu-blog {
			nav {
				a {
					padding: 0 7px;
					color: #8d744a;
					text-decoration: none;
					font-weight: lighter;
					&:hover {
						outline: 1px solid #8d744a!important;
					}
				}
			}
		}
		.post{
			border-bottom: 1px solid #3B2E29;
			.imagen {
				width: 100%;
				img {
					width: 100%; 
				}
			}
			.texto {
				padding-top: 2%;
				font-weight: 300;
				h2 {
					color: #4e3227;
				}
				p {
					padding-top: 2%;
					line-height: 1.5;
					color: #4e3227; 
				} 
			}
			.botons {
				padding-top: 3%;
				button {
					background: transparent;
    			opacity: 0.9;
					padding: 0.7% 5.5%;
					border: 1px solid #4e3227;
					float: left;
					overflow: hidden;
					@include transition(all .2s ease-in);
					a {
						text-decoration: none;
						color: #3b2e29;
					}
					.overlay {
						top: 0;
						left: 0; 
						width: 100%; 
						@include transition(all .2s ease-in);
						height: 100%;
					}
					&:hover {
						.overlay { 
							background-color: #3b2e29;
						}
						a {
							color: #f8f4e5;
						} 
					}
				}
				.social {
					float: left;
					padding-left: 6%;
					p {
						font-size: 18.2px;
						font-size: rem(18.2px);
						color: #4e3227;
						float: left;
						font-weight: 300; 
						margin-right: 17px;
					} 
					li {
						float: left;
						list-style: none;
						border: 1.5px solid;
 						padding: 4px;
 						width: 38px;
						height: 40px;
						@include flex-column-center;
						span {
							font-size: 18px;
						}
					} 
				} 
			}
			.tags, .tags a {
				color: #8d744a; 
			  font-weight: 100;
			  font-style: italic;
			} 
		}
		#pagination, .pagination {
			padding-top: 5%;
			ul {
				width: 100%;
				li {
					display: inline-block;
					a {
						border: 1px solid transparent;
						font-size: 21px;
						font-size: rem(21px);
  					font-weight: 300;
  					padding: 0 14px;
  					background-color: transparent;
  					color: #4e3227;
  					&:hover {
							border-color:#4e3227;
  					}
					}
					&:first-child a, &:last-child a, .next , .previous {
  					border: none;
  				}
				}
				li.active {
					a {
						border: 1px solid #4e3227;
					}
				}
			}
		}
	}
}

/*
	Blog posts
*/
#blog-post {
	background-color:#f8f4e5;
	.container{
		h1 {
			color: #8d744a;
			font-family: Verdana;
		}
	}
	.breadcrumb {
		padding-bottom: 3%;
		li {
			float: left;
			&::before {
				content: ">";
			}
			&:first-child::before {
				content: none;
			}
			a {
				padding: 0 22px;
				text-decoration: none;
				color: #8d744a;
				font-weight: lighter;
				font-size:18px;
				font-size: rem(18px);
			}
			span {
				padding: 0 22px;
				color: #8d744a;
				font-size:18px;
				font-size: rem(18px);
			}
		}
	}
	.imagen {
		width: 100%;
		img {
			width: 100%; 
		}
	}
	.img-right {
		width: 295px; 
		height: 295px;
	}
	.texto {
		padding-top: 45px;
		font-weight: 300; 
		h2 {
			color: #4e3227;
			margin-bottom: 36px;
		}
		p {
			margin-bottom: 3%;
			font-size: 21px;
			font-size: rem(21px);
			line-height: 1.5;
			color: #4e3227; 
		}
		.gorro {
			margin: 7% 0;
			border-bottom: 1px solid #8d744a;
			border-top: 1px solid #8d744a;
			padding-top: 30px;
			p {
				text-transform: uppercase;
				color: #8d744a;
				font-weight: 400;
				font-family: "trajan-pro-3"; 
			}
		} 
	}
	.botons {
		padding-top: 8%;
		padding-bottom: 5%; 
		.social {
			float: left;
			p {
				font-size: 21px;
				font-size: rem(21px);
				color: #4e3227;
				float: left;
				font-weight: 300; 
				margin-right: 17px;
			} 
			li {
				float: left;
				list-style: none;
				&:nth-child(3){
					padding: 0 13px;
				}
			} 
		}
	} 
}


/*
	Events
*/
#slider-events {
	height: 550px;
  background-size: cover;
  @extend #events;
  padding: 0;
  .gallery {
  	height: auto;
  }
  .gallery-child .gallery-cell {
  	background-position-y: 30%;
  }
  .flickity-viewport {
		height: 300px!important;
		min-height: 300px;
	}
  .gallery-cell {
  	height: 550px!important;
  }
  .gallery-button-right,
 	.gallery-button-left {
 		bottom: -100px!important;
 		top: 0!important;
 		top:245px!important; 
 	}
 	.gallery-button-left {
 		left:-7%!important;
 	}
 	.gallery-button-right {
 		right: -7%!important;
 	}
 	.see-more {
 		display: none;
 		visibility: hidden;
 	}
 	.slider-selected {
 		padding-top: 30px; 
 		width:100%;
 	}
}

/*
	Gelería eventos
*/ 
#galeria{
	background-color: #f8f4e5;
	h1{
		font-family: "trajan-pro-3";
  	color: #8d744a;
  	padding-bottom: 23px;
	}
	.texto-evento {
		padding-left: 8px;
		p {
			font-size: 18.2px;
			font-size: rem(18.2px);
		}
	}
	.fecha{
  	color: #4e3227;
	}
	.parrafo{
		font-size: 18.2px;
		font-size: rem(18.2px);
		font-weight: 100;
		line-height: 1.5;
		color: #4e3227;
	}
	#container-ronda {
		ul{
			list-style-type: none;
			margin:0 -9px;
			li{
				padding:9px;
				height: 240px;
				div {
					height: 100%;
				}
			}
		}
	}
	.grid{
		#overlay {
		  background: rgba(59, 46, 41,0.9);
		  width:100%;
		  height:100%;
		  position:fixed;
		  top:0;
		  left:0;
		  text-align:center;
		  z-index: 100;
		  display: none;
		  img{
		  	width: 40%;
		  }
		  a{
		  	right: 25%;
  			top: 10%;
  			position: absolute;
  			text-decoration: none;
  			cursor: pointer;
  			font-size: 40px;
  			&:hover{
  				color:#8d744a;
  			}
		  }
		  .controls {
		  	top: 50%;
		  	width: 100px;
		  	@include transition(opacity .1s ease-in-out);
		  	&:hover {
		  		opacity: 0.2;
		  	}
		  }
		  .previous-overlay {
		  	left: 20%;
		  }
		  .next-overlay {
		  	right: 20%;
		  }
		}
	}
}
.flex{
	@include transform (translateY(-50%));
  top: 50%;
  position: relative;
}

/*
	Menu blog
*/
#faqs {
	.container{
	 	padding: 110px 33px;
	 	padding: rem(110px) rem(33px);
	 }
	h1 {
		color: #8d744a;
		font-family: Verdana;
	}
	.separador {
		border-bottom: 1px solid #8d744a;
		padding-top: 2%;
		padding-left: 2%;
		width: 10%;
	}
	#menu-blog {
		padding-top: 5%;
		padding-bottom: 4%;
		nav {
			a {
				padding: 0 7px; 
				color: #8d744a;
				text-decoration: none;
				font-size: 18px;
				font-size: rem(18px);
				font-weight: lighter;
				border: 1px solid;
	  		padding: 5px 14px;
	  		border: 1px solid transparent;
	  		margin-right: 2%;
	  		&:hover  {
					border: 1px solid #8d744a;
		  		padding: 5px 14px;
				}
			} 
		}
	}
	.section {
		border-bottom: 1px solid;
  	padding-bottom: 5%;
  	padding-top: 4%;
  	&:last-child {
  		border-bottom:transparent; 
  	}
		h2 {
			color: #4e3227; 
			padding-bottom: 5%;
		}
		.panel-title {
			padding-bottom: 2%;
			a {
				text-transform: uppercase;
				text-decoration: none;
				font-size: 19.6px;
				font-size: rem(19.6px);
				img {
					width: 21px;
					margin-right: 3%;
					float: left;
				}
			}
		}
		.panel-body {
			padding-left: 7%;
			padding: 0% 6% 5%;
			font-size: 18.2px;
			font-size: rem(18.2px);
  		font-weight: 300;
  		line-height: 1.5;
  		color: #4e3227;
		}
	}	
}


/*
	Media kit
*/
#media-kit {
	h1:first-child {
		color: #8d744a;
		font-family: Verdana;
	}
	.separador {
		border-bottom: 1px solid #8d744a;
		padding-top: 2%;
		padding-left: 2%;
		width: 25%;
	}
	#menu-blog {
		padding-top: 5%;
		padding-bottom: 8%;
		nav {
			a {
				padding: 0 7px; 
				color: #8d744a;
				text-decoration: none;
				font-size: 18px;
				font-size: rem(18px);
				font-weight: lighter;
				border: 1px solid;
	  		padding: 5px 14px;
	  		border: 1px solid transparent;
	  		margin-right: 15px;
	  		&:hover {
					border: 1px solid #8d744a;
		  		padding: 5px 14px;
				}
			}
		}
	}
	.active {
		border: 1px solid;
	  padding: 5px 14px;
	}
	#downloads {
		padding-top: 5%;
  	padding-bottom: 6%;
  	border-bottom: 1px solid #4e3227;
		nav {
			div {
				float: left;
				padding-right: 8.5%;
				p {
					font-size: 21px;
					font-size: rem(21px);
  				font-weight: 400;
  				color: #4e3227;
				}
				a {
					font-size: 18.2px;
					font-size: rem(18.2px);
  				font-weight: lighter;
  				text-decoration: none;
  				@include transition(opacity .1s ease-in-out);
  				&:hover {
  					opacity: 0.8;
  				}  
  				img {
  					padding-right: 10px;
  					padding-bottom: 5%;
  				}
				}
			}
		}
	}
	.panel-group {
		.panel-default {
			padding-top: 7%;
			padding-bottom: 6%;
			border-bottom: 1px solid;
			&:nth-child(5) {
				border-bottom:none;
			}
			.panel-title a {
			  font-size: 32px;
			  font-size: rem(32px);
				font-weight: 400;
				text-decoration: none;
				img {
					padding-right: 2%;
				}
			}
			.panel-body {
				padding-top: 35px;
				.grid .descarga {
					padding: 7% 4% 18%;
					a {
						font-size: 16.8px;
						font-size: rem(16.8px);
  					font-weight: 300;
  					text-decoration: none;
  					@include transition(opacity .1s ease-in-out); 
						&:nth-child(2) {
							float:right;
						}
						img {
							padding-right: 10px;
							padding-bottom: 2%;
						}
						&:hover {
							opacity: 0.8;
						}
					}
				}
				.grid ul {
					li {
						.contenedor-imagen {
							height: 230px;
						}
					}
				}
			}
		}
	}
}

/*
	Terms
*/
#terms {
	.contenedor {
		padding: 10% 17%;
	} 
	h1 {
		color: #8d744a;
		font-family: Verdana;
	}
	.separador {
		border-bottom: 1px solid #8d744a;
		margin-top: 3%;
  	margin-bottom: -2%;
		width: 29%;
	}
	p, li, ol {
		color: #4e3227;
  	line-height: 1.8;
  	font-size: 18.2px;
  	font-size: rem(18.2px);
  	font-weight: 300;
	}
	p {
		margin-bottom: 2.5%;
	}
	.sub-title {
		text-transform: uppercase;
		font-weight: 400;
		padding-top: 1%;
		font-size: 28px;
	}
}

/*
	Contact
*/
#container-contact,
#thanks-contact {
	background-color: #3B2E29;
	display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: center;
  h2 {
  	line-height: 1.3;
  }
}
#container-contact{
  h1{
  	font-family: "Verdana";
  	color: #f8f4e5;
  } 
  .formulario{
  	input{
  		width: 280px;
  		height: 45px;
		}
		textarea{
			width: 578px;
  		height: 96px;
  		min-height: 96px;
  		overflow: hidden;
	  	resize: none;
	  	outline: none;
		}
		input , textarea {
			background-color: transparent;
		  border: 1.5px solid #fff;
		  border-radius: 0px;
			@include placeholder {
		    color: #fff;
			  font-weight: lighter;
		  }
		}
		.submit {
			width: 142px;
			height: 46px;
			background-color: transparent; 
		  border: 1px solid white;
		  outline: none;
  		right: 6px;
  		margin-top: 3px;
  		font-weight: 300;
  		overflow: hidden;
  		z-index: 1;
  		span {
				z-index: 1;
  		}
			&:hover {
				background-color: rgba(250, 250, 250, 0.2); 
				a {
					color: #fff;
				}  
			}
		}
		.error-nombre, 
		.error-correo, 
		.error-comentario {
			div {
				width: 160px;
				background-color: #F3EFE0;
		    color: #3B2E29;
		    padding: 7px 14px;
			}
		}
		.error-nombre, .error-correo {
			top: 34px;
		}
		.error-nombre {
    	right: 100%;
		}
		.error-correo {
			left: 100%;
		}
		.error-comentario {
			top: 120px;
			right: 100%;
		}
  }
}
.thanks-box {
	width: 750px;
	color: #f8f4e5;
	font-size: 20px;
	h3 {
		font-family: "trajan-pro-3";
	}
	button {
		background-color: transparent;
		border-radius: 0px;
		font-size: 20px;
		&:hover {
			background-color: rgba(250, 250, 250, 0.2); 
			a {
				color: #fff!important;
			}  
		}
	}
	.text-redirect {
		font-size: 20px;
	}
}
// #thanks {
// 	left: 50%;
// 	@include transform(translate(-50%));
// 	top: 25%;
// 	background-color: white;
// 	width: 500px;
// 	height: 300px;
// 	border-radius: 10px;
// }
.overlay-contact {
	top: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	@include transition(opacity .2s ease-in-out); 
}
.active-pop {
	@include transition(opacity .2s ease-in-out);
	opacity: 1!important;
	z-index: 10000!important;
}

/*RESPONSIVE MENÚ E IMG-PRINCIPAL*/
@media #{$md-down} {
	/*RESPONSIVE FORMULARIO*/
	.fondo {
		padding: 25px 10%;
		display: block;
		height: 100%;
		.contenedor-fondo {
			width: 80%; 
		}
		.logo-title {
			width: 61%;
  		width: 195px;
  		padding-top: 10px;
		}
		h3 {
			font-size: 13px;
		}
	}
	#formulario {
		form {
			width: 100%!important;
		}
		padding: 15px 10%;
		text-align: right;
		.date {
			padding-top: 0px;
			input {
				display: block;
	  		margin: 0 auto;
	  		margin-top: 13px;
	  		width: 100%;
	  		height: 48px;
  			border: 1.5px solid #fff;
  			font-size: 23px;
  			border-radius: 0px;
  		}
		}
		.action {
			select {
				margin-left: 0;
				width: 50%!important;
			}
			.btn-group {
				width: 108px;
				.btn-default {
					width: 35px;
    			height: 35px;
    			padding: 6px 0;		
				}
				.btn.dropdown-toggle {
					width: 108px;
				}
			}
			select,
			.btn-group button{
				height: 35px!important;
			}
		}
		.enter {
			width: 100%;
			height: 45px!important;
		}
	}
	/*RESPONSIVE MENÚ*/
	.site-menu {
		.contenedor-menu {
			height: 70px;
		}
		.nav-movil {
			height: 55px;
			@include flex-column-center;
			a {
				left: 7%;
			  text-align: left;
			  position: relative;
			  float: left;
 				width: 125px;
				img {
					width: 125px;
				}
			}
			p {
				position: absolute;
				margin: -15px 0 0 -15px;
			  right: 12%;
			  width: 70px;
			}
			.switch {
		  	width: 20px;
		  	height: 17px;
		  	position: absolute;
		  	right: 7%;
		  	top: 37px;
		  	margin: -15px 0px 0px -15px;
			 	cursor: pointer;
			}
			.switch.on:after {
			  	@include transform (rotate(-45deg) translate(5px, -5px));
			}
			.switch.on:before {
			  	@include transform (rotate(45deg) translate(5px, 5px));
			}
			.switch .menu-toggle {
			  	width: 100%;
			  	height: 3px;
			  	background: #fff;
			  	margin: 4px auto;
			  	transition: all 0.3s;
			  	backface-visibility: hidden;
			}
			.switch.on .menu-toggle {
			  	opacity: 0;
			}
			.switch:before, .switch:after {
			  	content: "";
			  	display: block;
			  	height: 3px;
			  	background: #fff;
			  	transition: all 0.3s;
			  	backface-visibility: hidden;
			}
		}
	}
	/*Esconde text-menu*/
	.hidde {
		visibility: hidden;
	}
	#overlay-menu {
		position: fixed;
		z-index: 109;
	  width: 100%;
	  height: 100%;
	  top: 0;
	  left: 0;
	  bottom: 0;
	  background-color: rgb(59, 46, 41);
	  padding-top: 32%;
	  @include transform(translateX(-100%));
	  @include transition(transform .5s ease);
	  ul {
	  	list-style: none;
	  	li {
				height: 70px;
				font-size: 18px;
				font-size: rem(18px);
				font-family: "trajan-pro-3";
				text-transform: uppercase;
				.separador {
					border-bottom: 1px solid #8d744a;
				  width: 20%;
				  margin: 0 auto;
				  padding-top: 18px;
				}
	  	}
	  }
	}
	.open {
		@include transform(translateX(0)!important);
	}
	.site-content {
		> section {
				padding: 42px 0;
				.container {
					padding: 0 16%;
					h2 {
						font-size: 25px;
					}
					h3 {
						font-size: 20px;
					}
				}
				.container-sm {
					margin: 0;
					padding: 0;
				}
			}
	}
	.img-principal {
	  background-position-y: 10%;
	  div.texto {
	  	width: 80%;
	  	h1 {
	  		font-size: 35px;
	  		line-height: 1.2;
	  	}
	  	p {
	  		font-size: 22px;
	  	}
	  }
	  .scroll-down {
	  	width: 50px;
	  }
	}
	/*ABOUT US*/
	#about-us {
		.container .row .col-md-6 {
			padding: 0;
			.texto-about {
			  padding: 33px 0 9px!important;
			  h2 {
			  	font-size: 21px;
			  }
			  p {
			  	padding-top: 30px;
			  	// font-size: 18px;
			  }
			}
		}
		.gallery-cell {
			text-align: center;
		}
	}
	/*THE GOODS*/
	#the-goods {
		h1 {
			text-align: center;
		}
		.container .gallery-wrapper {
			.gallery-button-left,
			.gallery-button-right{
				width: 40px;
				z-index: 10;
				display: inline-block;
				top: 225px;
				img {
					width: 100%;
				}
			}
			.gallery-button-left {
				left: 35px;
			}
			.gallery-button-right {
				right: 35px;
			}
			.gallery-child .flickity-viewport {
				margin-top: 80px;
				height: 358px!important;
				.slider-content{
					height: auto!important;
					top: 0!important;
					text-align: center!important;
					img {
						width: 24%!important;
						height: auto!important;
						padding-top: 50px!important;
					}
				}
			}
			.gallery {
				padding-top: 25px;
				height: auto;
				.flickity-viewport {
					height: 330px;
					.gallery-cell {
						padding: 0 16%;
						.slider-text {
							padding: 0;
						}
					}
				}
			}
		}
		.make-text {
			width: auto!important;
			position: relative;
			top: 0px!important;
		}
	}
	#the-goods .flickity-viewport img {
    padding-top: 180px!important;
    width: 70px!important;
    height: auto!important;
  }
  #the-goods .gallery-child .flickity-viewport {
    height: 325px !important;
  }
  #the-goods .gallery-button-right,
  #the-goods .gallery-button-left {
		width: 20px;
		top: 10px;
  }
  #the-goods .gallery-button-right img,
  #the-goods .gallery-button-left img {
		width: 100%;
  }
  #the-goods .gallery-button-left {
    left: 10%;
	}
	 #the-goods .gallery-button-right {
    right: 10%;
    box-shadow: none!important;
	}


	/*MAKE DRINK*/
	#make-drink {
		.section-title h2 {
			text-align: center;
		}
		.gallery-wrapper {
			min-height: 300px!important;
			.gallery-button-left,
			.gallery-button-right{
				width: 20px;
				z-index: 10;
				display: inline-block;
				top: 160px;
				img {
					width: 100%;
				}
			}
			.gallery-button-left {
				left: 35px;
			}
			.gallery-button-right {
				right: 35px;
			}
			.gallery-child {
				position: relative;
				top: 40px;
				min-height: 150px;
				.flickity-viewport {
					min-height: 260px!important;
					.gallery-cell {
						text-align: center;
						min-height: 230px;
						img {
							width: 46%;
						}
					}
				}
			}
			.gallery {
				min-height: 390px;
				.flickity-viewport {
					height: 400px!important;
					.gallery-cell {
						padding: 0 16%;
						h2 {
							font-size: 17px;
						}
					}
				}
			}
		}
		.make-text {
			position: relative!important;
			h2 {
				line-height: 1.2!important;
			}
		}
	}
	
	/*EXPERIENCE*/
	#events {
		h1 {
			font-size: 45px;
			text-align: center;
		}
		.row .gallery-button-left {
			left: 20px;
			top: 280px;
		}
		.row .gallery-button-right {
			right: 20px;
		}
		.row .gallery-button-left,
		.row .gallery-button-right {
			top: 280px;
			bottom: auto;
		}
	}
	#slider-text-experience {
		padding-right: 0px!important;
		h2 {
			font-size: 22px!important;
		}
		.see-more {
			width: 100%;
    	height: 50px;
    	margin-top: 50px!important;
		}
	}
	.container-slider-text {
		padding-top: 160px!important;
	}

	/*FOllow us*/
	#follow-us {
		.container-social {
			padding-top: 30px;
			a {
				width: 100%;
				height: 150px;
				padding: 7%;
				@include transition(none);
			}
			h1 {
				font-size: 30px!important;
			}
			p {
				font-size: 16px !important;
			}
		}
	}
	/*FOOTER*/
	footer {
		ul {
			padding: 50px 10%!important;
			li {
				padding: 0!important;
				.texto {
					padding-left: 12px;
					p {
	  				font-family: "museo-sans";
	  				font-size: 10px;
  				}
				}
			}
			.col-md-3 {
				padding-top: 30px!important;
				p {
					font-size: 10px!important;
					font-family: "Museo-sans";
					display: inline;
				}
			}
		}
	}
	/*BLOG*/
	.site-content {
		.content-blog {
			padding: 25% 12% 10%;
			h2.title {
				font-size: 24px;
				font-size: rem(24px);
				padding-left: 2%;
			}
			.separador {
				width: 25%;
				margin-left: 2%;
			}
			#menu-blog {
				nav {
					padding: 10px 0 15px;
					padding-left: 2%;
					a {
						display: inline-block;
						margin-bottom: 3%;
						padding: 5px 14px;
						font-size: 15px;
					}
				}
			}
			.post {
				padding-bottom: 25%;
				&:first-child { 
					border: none;
				}
				.imagen-movil {
					width: 100%;
					height: 230px;
				}
				.texto {
					padding-top: 15%;
					.parrafo {
						padding-top: 8%;
						line-height: 1.8;
						font-size: 16px;
					}
					.fecha {
						font-size: 14px!important;
						margin-bottom: 18px;
					}
					h2 {
						text-align: center;
					}
				}
				.tags {
					padding-bottom: 7%;
				}
				.botons {
					button {
						width: 100%;
						@include transition(none);
						height: 50px;
						a {
							font-size: 18px!important;
						}
					}
					.social {
						padding-top: 25px;
						.fecha {
							font-size: 20px!important;
  						margin-top: 5px;
						}
					}
				}
			}
			#pagination {
				ul {
					text-align: center;
					li {
						display: inline-block;
						a {
							font-size: 20px;
						}
						&.active a {
							border: none;
							font-weight: lighter;
						}
					}
				}
			}
		}
	}
	/*FAQS*/
	#faqs {
		.container {
			padding: 25% 12% 10%;
			h1 {
				font-size: 21px;
				padding-left: 2%;
			}
			.separador {
				width: 21%;
				margin-left: 2%;
			}
			#menu-blog {
				padding-left: 2%;
				nav {
					padding-top: 10px;
					a {
						margin-bottom: 8px;
						display: inline-block;
						font-size: 15px;
					}
				}
			}
			.section {
				padding-top: 10%;
				&:nth-child(0) {
					padding-top: 5%;
				}
				h2 {
					font-size: 20px;
					padding-bottom: 5%;
				}
				.panel-group {
					padding-top: 2%;
				}
				.panel-title {
					a { 
						img {
							width: 15px;
							margin-top: 10px;
							&:nth-child(2) {
								-webkit-transform: rotate(90deg);
							}
						}
						p {
							padding-left: 9%;
							padding-left: 10%;
  						line-height: 1.3;
						}
					}
				}
				.panel-body {
					padding: 0% 6% 5% 10%;
				}
			}
		}
	}	
	/*MEDIA-KIT*/
	#media-kit {
		padding: 25% 12% 15%;
		.container {
			h1,
			h2 {
				font-size: 22px;
			}
			#menu-blog {
				nav {
					padding-top: 6%;
					padding-left: 5%;
					a {
						display: inline-block;
  					margin-bottom: 7px;
  					font-size: 15px;
					}
				}
			}
			#downloads {
				nav {
					padding: 5% 5% 10%;
					div {
						float: none;
						padding-bottom: 15px;
						a {
							font-size: 16px;
						}
						p {
							font-size: 21px;
							margin-bottom: 5px;
						}
					}
				}
			}
			.panel-group {
				padding-top: 7%;
				.panel-default {
					border: none;
					.panel-title a {
						img {
							float: left;
							width: 20px;
							margin-top: 5px;
						}
						p {
							font-size: 18px;
							padding-left: 12%;
							display: block;
						}
					}
				}
			}
		}
	}
	/*BLOG POST*/
	#blog-post {
		.container {
			padding: 25% 12% 15%;
			h1 {
				color: #8d744a;
			}
			.separador {
				border-bottom:1px solid #8d744a;
				padding-top:2%;
				width: 25%;
			}
			.breadcrumb {
				padding: 10% 0;
				ul li a, 
				ul li span {
					padding: 0 6%;
  				font-size: 20px;
  				font-size: rem(20px)
				}
				ul li a {
					font-weight: 300;
				}
			}
			.imagen-blog-post {
				width: 100%;
				height: 500px;
				background-position: center;
				background-repeat: no-repeat;
			}
			.texto {
				.fecha {
					font-size: 14px;
				}
				.gorro {
					margin: 10% 0;
					.col-sm-1 {
						text-align: center;
					}
					p {
						padding: 10% 5%;
						font-size: 18px;
						line-height: 1.5;
					}
				}
			}
			.botons {
				text-align: center;
				padding-top: 15%;
				.social {
					float: none;
					display: inline-block;
					p {
						font-size: 20px;
					}
				}
			}
		}
	}

	/*BLOG INTERNO*/
	.img-right {
		float: none!important;
	}

	/*TERMS*/
	#terms {
		.contenedor {
			padding: 25% 12% 15%;
			h1 {
				font-size: 21px;
			}
			p {
				font-size: 15px;
				line-height: 1.9;
				padding-bottom: 7%;
			}
			.sub-title {
				padding: 10% 0 7%;
				font-size: 18px;
			}
		}
	}
	/*EVENTS*/
	#slider-events {
		position: relative;
		background-position: left;
  	background-size: cover;
  	.gallery-child .flickity-viewport,
  	.gallery-child .gallery-cell {
  	  min-height: 100% !important;
    	min-height: 100vh !important;
    }
		.event-movil {
			padding: 42px 16% 50px;
  		position: absolute;
  		bottom: 15%;
			h2 {
				font-size: 22px;
				line-height: 1.3;
				position: relative;
			}
			h3 {
				font-size: 25px;
				font-style: normal;
			}
			.separador {
				border-bottom: 2px solid #fff!important;
				width: 90%;
				margin-bottom: 12%;
				margin-top: 6%;
			}
			.fecha-movil {
				font-size: 20px;
				font-weight: lighter;
			}
		}
		.gallery-wrapper.row .container .gallery-button-right,
		.gallery-wrapper.row .container .gallery-button-left {
			top: 40px!important;
		}
		.gallery-wrapper.row .container .gallery-button-right {
			right: 7%!important;
		}
		.gallery-wrapper.row .container .gallery-button-left {
			left: 7%!important;
		}
		.container {
			min-height: 100% !important;
    	min-height: 100vh !important;
    	margin-top: 0px!important;
			.container-text-opacity {
				bottom: 40px;
				width: auto!important;
			}
			.gallery_button_left,
			.gallery_button_right {
				
			}
			.gallery_button_left {
				left: 0%!important;
			}
			.gallery_button_right {
				right: 0%!important;
			}
		}
	}
	#galeria {
		padding: 0;
		#container-ronda ul li {
			height: 170px;
		}
		.container {
			padding: 0;
			.texto-evento {
				padding: 0 16%;
				p {
					font-size: 15px;
				}
				h1 {
					font-size: 22px;
				}
				.fecha {
					font-size: 18px!important;
  				font-weight: 300;
				}
			}
			.grid {
				padding: 10% 7% 10%;
				margin-top: 70px;
				ul li {
					padding: 3px 3px 3px;
				}
				#overlay {
					img {
						width: 85%;
					}
					a {
						top: 20%;
						right: 5%;
						font-size: 30px;
					}
					.controls {
						top: 75%;
						width: 25px;
						@include transition(none);
						&:hover {
							opacity: 1;
						}
					}
					.next-overlay {
						right: 25%;
					}
					.previous-overlay {
						left: 25%;
					}
				}
			}
		}
	}
	/*CONTACT*/
	#contact {
		padding-bottom: 0px!important;
	}
	#container-contact {
		padding: 15% 15% 15%;
		display: block;
		text-align: center;
		min-height: 700px; 
		h1 {
			font-size: 24px;
		}
		.formulario {
			padding-top: 15%;
			textarea,
			input {
				width: 100%;
			}
			textarea {
				margin-top: 0;
				font-size: 20px;
				padding-top: 8px;
				height: 250px;
			}
			button {
				width: 100%;
				right: 0;
				height: 50px;
				background-color: #8D744A;
				@include transition(none);
				border: 1px solid #fff;
  			font-weight: 400;
  			position: relative!important;
			}
		}
	}
}

@media #{$md-only} {
	/*THE GOODS*/
	#slider-text-goods, #slider-text-make {
		padding-left: 20%!important;
		padding-right: 20%!important;
	}
}
@media #{$sm-only} {
	/*THE GOODS*/
	#slider-text-goods, #slider-text-make, #follow-us, .container-slider-text {
		padding-left: 20%!important;
		padding-right: 20%!important;
	}
	#events {
		h1 {
			padding-left: 20%!important;
		}
	}
	#overlay-menu {
		padding-top: 14%!important;
	}
	/*BLOG INTERNO*/
	.img-right {
		float: none!important;
	}
}

/*THANKS RESPONSIVE*/
#thanks-contact {
	padding-bottom: 70px;
	h3 {
		font-size: 20px;
    line-height: 1.5;
	}
	.thanks-box {
		width: 100%;
	}
}
/*
	UTILITIES
*/
$prefijo: fz !default;
@for $i from 8 through 45 {
  .#{$prefijo}-#{$i} {
    font-size: 0px + $i !important;
    font-size: rem(0px + $i)!important;
  }
}
.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.text-white {
	color: #fff;
}
.relative {
	position: relative;
}
.absolute {
	position: absolute;
}
.fixed {
	position: fixed;
}
.text-brown{
	color: #4e3227;
}
.text-brown-light {
	color: #8d744a;
}
.text-bold {
	font-weight: bold;
}
.pd-0 {
	padding: 0;
}
.pd-5-15 { 
	padding: 5% 15%;
}
.w-100 {
	width: 100%; 
}
.type-style-none {
	list-style: none;
}
.family-museosans {
	font-family: "MuseoSans"!important;
}
.family-verdana {
	font-family: Verdana!important;
}
.family-across {
	font-family:'Across'!important;
}
.float-left {
	float: left; 
}
.display-ib {
	display: inline-block;
}
.bg-p-brown {
	background-color: #4e3227;
}
.bg-p-brownlight {
	background-color: #8d744a;
}
.line-height {
	line-height: 1.8;
}
.letter-spacing {
	letter-spacing: 1.5px;
}
.pt-8 {
	padding-top: 8%;
}
.fecha,
.share {
	font-size: 15.4px!important;
	font-size: rem(15.4px)!important;
  font-weight: 400;
}
.share {
  margin: 10px 17px;
}
.change-arrow p {
	color: #4e3227;
}
.display-flex {
	display: flex!important;
}