// SIZE CONTROL VARS
$size-control-placeholder: 530px;
$banner-height: 350px; // Banners
$site-menu-width-control: 101px; // Site menu
$menu-list-icons-width: 35px;
$header-height-control: 70px; // Header
$mobile-navbar-height: 56px; // Mobile header
$video-bg-height: 490px; // Hero Unit and Videocover
$user-card-height: 42px; // User cards
$user-card-width: 70px;

html,
body {
	background-color: $body-bg;	
	&::-webkit-scrollbar { 
    display: none; 
	}
}

.site-wrapper,
.site-content {
	position: relative; 
}

.site-content {
	> section {
			padding: 82px 235px;
			padding: rem(82px) rem(235px);
			.container-sm {
				margin-left: 100px;
				margin-right: 20px;
			}
	}
	.section-title {
		h2 {
			@include serif-light;
			font-size: $font-size-h1;
			font-size: rem($font-size-h1);
		}
		h3 {
			@include light-italic;
		}
	}
}

/*
	Make drink
*/
$make-drink-gallery-height-control: 560px;
#make-drink {
	.gallery-wrapper {
		min-height: $make-drink-gallery-height-control;
		position: relative;
	}
	.gallery,
	.gallery-cell,
	.gallery-child {
		min-height: $make-drink-gallery-height-control;
		width: 100%; 
	}
	.gallery-button-left {
		@include position(absolute, 0 null 0 -98px);
	}
	.gallery-button-right {
		@include position(absolute, 0 -98px 0 null);
	}
	.gallery-child {
		@include position(absolute, 0 0 0 0);
	}
	//.gallery-child {
		//.gallery-cell {
		//	-webkit-transition: all 0.3s ease-in-out;
		//}
	//}
}

/*
	Gallery buttons
*/
.gallery-button-left,
.gallery-button-right {
	@include flex-column-center;
	img {
		cursor: pointer;
	}
}

/*
	Separadores
*/
$separator-height-control: 2px;
.separator {
	height: $separator-height-control;
	margin: 21px 0;
	margin: rem(21px) 0;
	@for $i from 1 through length($grayscale-list) {
		&.separator-#{nth($grayscale-sufix-list, $i)} {
			background-color: #{nth($grayscale-list, $i)};
		}
	}
}


/*
	Ingreso Fondo
*/
.fondo {
	width: 100%;
	display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: center;
	h3 {
		font-family: "trajan-pro-3";
		line-height: 1.3;
		padding-top: 18px;
		font-size: 22px;
		font-size: rem(22px);
		letter-spacing: 2px;
	}
	.logo-title {
		width: 372px;
  	margin: 0 auto;
		img {
			width: 100%;
		}
	} 
}

#formulario {
	.date {
		padding-top: 27px;
		input {
			background-color: transparent;
	  	border: 1.5px solid #fff;
	  	width: 162px;
	  	height: 40px;
	  	font-size: 19px;
	  	color: #fff;
	  	margin: 6px;
	  	outline: none;
	  	&::-webkit-input-placeholder {
			  color: #fff;
			  font-weight: lighter;
			}
			&:-moz-placeholder {
			  color: #fff;
			  font-weight: lighter; 
			}
			&:-ms-input-placeholder { 
			  color: #fff;
			  font-weight: lighter;
			}
		}
	}
	.action {
		padding-top: 26px;
		margin-left: 6px;
		/*.dropdown {
			button {
				width: 162px;
				height: 26px;
			  background-color: transparent;
				border-radius: 0;
				padding: 2px 0;
				border-color: #8d744a;
				color: #8d744a;
				position: relative;
				padding-left: 20px;
				font-size: 14px;
				outline: none;
				span {
					position: absolute;
					right: 15px;
  				font-size: 19px;
				}
			}
			.dropdown-menu {
				background-color: transparent;
  			width: 162px;
  			border-radius: 0;
  			a {
  				color: #8d744a;
  			}
			}
		}*/
		select{
			width: 162px;
			height: 26px;
			font-size: 14px;
			font-size: rem(14px);
			-webkit-appearance: none;
  		background: rgb(59, 46, 41);
  		outline: none;
  		border: 1px solid #8d744a;
  		color: #8d744a;
			option{
				background-image: url(../img/texturas/textura-oscura.png);
			}
		}
		.btn-group {
			margin-left: 23px;
			.btn-default {
				background-color: transparent;
				color: #fff;
			  border-radius: 0;
			  border-color: transparent;
			  outline: none;
			  font-size: 14px;
			  padding: 3px 0;
			  font-weight: 300;
			  &:focus {
			  	border-color: #8d744a;
			  	color: #8d744a;
			  }
			  &:active {
			  	border-color: #8d744a;
			  	color: #8d744a;
			  }
			 }
		}
		.enter {
			button {
				background-color: transparent;
			  color: rgb(96, 85, 81);
			  border-color: rgb(96, 85, 81);
			  border-radius: 0;
			  font-size: 18px;
			  font-weight: lighter;
			  width: 125px;
			  height: 39px;
			  margin-left: 30px;
			  outline: none;
			  span {
					top: 2px;
				  right: -4px;
				  position: relative;
			  }
			}
		}
		.active {
			border-color: #8d744a;
			color: #8d744a;
		}	
	}
	.checkbox {
		margin-left: 6px;
		.box {
			width: 17px;
			height: 17px;
			border: 1px solid #fff;
			position: relative;
  		float: left;
  		cursor: pointer;
  		span {
  			font-size: 30px;
			  position: absolute;
			  top: -15px;
			  left: -2px;
			  display: none;
  		}
		}
		label{
			font-style: italic;
			margin-left: 10px;
		}
	}
}
.show {
		display: block;
	}


/*
	Home
*/
.site-menu {
	@include position(absolute, 0 0 null 0);
	height: 61px;
	height: rem(61px); 
	width: 100%;
	.contenedor-menu {
		position: fixed;
	 	top: 0;
	 	left: 0;
	 	width: 100%;
	 	height: 61px;
	 	height: rem(61px);
	  background: #3b2e29;
	 	z-index: 10; 
	 	nav {
	 		display: inline-block;
	 		a {
				height: 61px;
  			float: left;
				text-align: center;
				text-decoration: none;
				position: relative;
  				div {
						font-size: 14px;
						font-size: rem(14px); 
  					color: #3b2e29;
  					letter-spacing: 0px;
  					text-decoration: none;
  					display: block;
  					text-align: center;
				  	position: relative;
				  	top: 0;
				  	line-height: 62px;
				  	display: flex;
  					flex-direction: column;
  					flex-wrap: wrap;
  					justify-content: center;
  					align-content: flex-start;
  					align-items: center;
				  	height: 61px;
				  	height: rem(61px);
				  	letter-spacing: .08em; 
				  	transition: all .5s;
				  	background-color: rgb(248, 244, 229);
				  	text-transform: uppercase;
				  	-webkit-transform: rotateX(-90deg);
				  	transform: rotateX(-90deg);
				  	-webkit-transform-origin: center top;
				  	transform-origin: center top;
				  	z-index: 1;
				  	padding: 0 33px;
				  	padding: 0 rem(33px);
	  				&:first-child {
	  					-webkit-transform: rotateX(0deg);
	  					transform: rotateX(0deg);
	  					-webkit-transform-origin: center bottom;
	  					transform-origin: center bottom;
	  					background-color: #3b2e29;
	  					color: rgb(248, 244, 229);
	  					top: 0;
	  					z-index: 2;
	  				}
  				}
  				&:hover {
  					div {
  						-webkit-transform: rotateX(0deg);
  						transform: rotateX(0deg);
  						top: -61px;
  						height: 61px;
  					}
  					div:first-child {
  						top: -70px;
  						z-index: 1;
  						-webkit-transform: rotateX(90deg);
  						transform: rotateX(90deg);
  					}
  				}
	 		}
	 		a.active {
				div {
					-webkit-transform: rotateX(0deg);
					transform: rotateX(0deg);
					top: -61px;
					height: 61px;
				}
				div:first-child {
					top: -70px;
					z-index: 1;
					-webkit-transform: rotateX(90deg);
					transform: rotateX(90deg);
				}
			}
	 		a.logo-link div {
				width: 200px;
				width: rem(200px);
				line-height: 55px!important;
  			display: block;
				img {
					width: 100%; 
				}
			}
	 	}
	}
}

.img-principal {
	@include flex-column-center;	
	@include bg-img-control;
	background-position-y:60px;
	padding-top: 60px;
		div.texto {
			font-family: times;
			h1 {
				font-size: 65px;
				font-size: rem(65px);
			}
			h3 {
			font-style: italic;
			}
			p {
				font-size: 23.8px;
				font-size: rem(23.8px);
				font-family: "museo-sans";
				font-weight: lighter;
				font-style: italic;
				margin-top: 18px;
				letter-spacing: 0;
			}
		}
		.scroll-down {
			width: 90px;
			margin: 0 auto;
			padding-top: 6%;
			img {
				width: 100%;
			}
		}
}

/*
	About us
*/
#about-us {
	// padding: 5% 17% 12%;
	background-size: 30%;
	h1 {
		font-size: 35px;
		font-size: rem(35px);
		font-family: "trajan-pro-3";
	}
	h3 {
		font-style: italic;
	}
	h1, h2{
		font-family: "trajan-pro-3";
	}
	.texto-about {
		padding: 9% 17px 0 76px;
		.separador {
			border-bottom: 1px solid #3b2e29;
			padding-top:4%;
		}
		p {
			padding-top: 6%;
			font-size: 21px;
			font-size: rem(21px);
			font-weight: 300;
		}
	}
	.imagen {
		text-align: center;
		img {
			width: 362px;
		}
	}
} 

/*
	The goods
*/
#the-goods {
	background-color:rgb(248, 244, 229);
	// padding: 8% 17%;
	h1 {
		font-size: 35px;
		font-size: rem(35px); 
	}
	h3 {
		font-style: italic;
	}
	h1, h2{ 
		font-family: "trajan-pro-3"; 
	}
	.slider-text {
		padding: 9% 20% 5% 0%;
		.separador {
			border-bottom: 1px solid #3b2e29;
			padding-top: 4%;
		}
		p {
			padding-top: 6%;
			font-size: 1.5rem;
			font-weight: 300;
			padding-right: 20px;
		}
	}
	.slider-content {
		position: relative;
		padding-right: 9%;
		height: 500px;
		top: -150px;
		text-align: right;
	}
	.gallery-wrapper{
		position: relative;
	}
	.gallery-cell {
		width: 100%;
		left: 120%;
	}
	.gallery-nav .gallery-cell.is-nav-selected {
		background: #ED2; 
	}
	.gallery-button-left {
		@include position(absolute, 0 null 0 -98px);
	}
	.gallery-button-right {
		@include position(absolute, 0 265px 0 null);
		z-index: 100;
	}	
}

/*
	Make drink
*/
// #make-drink {
// 	@extend #the-goods; 
// 	background-image: url(../img/texturas/textura-oscura.png);
// }

/*
	Events
*/
#events {
	@extend #the-goods; 
	background-size: cover;
	.separador {
		border-bottom: 2px solid #fff!important;
		margin-bottom: 2%;
	}
	.flickity-viewport {
		min-height: 550px;
	}
	.row {
		padding-top: 7%;
		h3 {
			font-style: normal;
			font-weight: 300;
		}
		.see-more {
			background-color: transparent;
			padding: 2% 14%;
			margin-top: 8%;
			border: 2px solid #fff;
			transition: all .5s ease-in-out;
			position: relative;
			overflow: hidden;
			a {
				font-size: 19.6px;
				font-size: rem(19.6px);
				font-weight: 300;
				text-decoration: none;
				position: relative;
				z-index: 1;
			}
			.overlay {
				background-color: #a05324;
				position: absolute;
				top: 0;
				left: 0; 
				width: 100%;
				height: 100%;
				-webkit-transform: translateX(-100%);
				transform: translateX(-100%); 
				transition: all .2s ease-in;
			}
			&:hover {
				a {
					color: #fff;
				}
				.overlay { 
					-webkit-transform: translateX(0%);
					transform: translateX(0%); 
				} 
			}
		}
		.gallery-button-right {
			@include position(absolute, 0 0 0 null);
			z-index: 100;
		}	
	}
}

/*
	Follow us
*/
#follow-us {
	background-color: #8d744a;
	// padding: 6% 17%; 
	h3 {
		font-weight: lighter;
		font-style: italic;
	}
	.container-social {
		display: inline-block;
		padding-top: 4%;
		font-family: "MuseoSans";
		a {
			display: block;
			width: 180px;
			height: 180px;
			border: 1.5px solid #fff;
			float: left; 
			margin-right: 24px;
			margin-bottom: 26px;
			position: relative;
			text-decoration: none;
			overflow: hidden;
			transition: all .2s ease-in-out;
			padding: 2% 3%;
			.overlay{
				background-image: url(../img/texturas/textura-hover-redes.png);
				position: absolute;
				top: 0;
				left: 0; 
				width: 100%;
				height: 100%;
				-webkit-transform: translateX(-100%);
				transform: translateX(-100%); 
				transition: all .2s ease-in-out; 
			}
			&:hover {
				color: #fff;
				.overlay { 
					-webkit-transform: translateX(0%);
					transform: translateX(0%); 
				} 
			}
			h1, p {
				font-family: "museo-sans";
				position: relative;
				z-index: 1;
			} 
			p {
				font-size: 21px;
				font-size: rem(21px);
				font-weight: lighter;
				padding-top: 3%;
				line-height: 1.3;
				font-style: italic;
			}
			.icon {
				position: absolute;
				width: 45px;
				bottom: 8%;
				right: 10%;
				img {
					width: 100%;
				}
			}
		} 
	}
}

/*
	Footer
*/
footer {
	color: #8d744a;
	.footer-logo {
		width: 70px; 
	}
	.texto {
		padding-left: 10%;
	}
	p {
		font-size: 14px;
		font-size: rem(14px);
		margin: 0;
		margin-bottom: 3px; 
	}
	.col-md-3 p {
		margin-bottom: 10px; 
		a {
			border-bottom: 1px solid #8d744a;
			text-decoration: none;
			color: #8d744a;
			&:hover {
				color: #4e3227;
			}
		} 
	}
}

/*
	Blog
*/
.site-content {
	.content-blog {
		  padding: 132px 237px;
		h2 {
			color: #8d744a;
			font-family: "trajan-pro-3"
		}
		.separador {
			border-bottom:1px solid #8d744a;
			padding-top:2%;
			width: 36%;
		}
		#menu-blog {
			padding-top: 5%;
			padding-bottom: 8%;
			nav {
				a {
					padding: 0 7px;
					color: #8d744a;
					text-decoration: none;
					font-size: 18px;
					font-size: rem(18px);
					font-weight: lighter;
					padding: 5px 8px;
  				border: 1px solid transparent;
					&:hover {
						border-color:#8d744a;
					}
				}
			}
		}
		.post{
			border-bottom: 1px solid #3B2E29;
	  	padding-bottom: 6%; 
			.imagen {
				width: 100%;
				img {
					width: 100%; 
				}
			}
			.texto {
				padding-top: 2%;
				font-weight: 300;
				h2 {
					color: #4e3227;
				}
				p {
					padding-top: 2%;
					margin-bottom: 3%;
					font-size: 21px;
					font-size: rem(21px);
					line-height: 1.5;
					color: #4e3227; 
				} 
			}
			.botons {
				padding-top: 3%;
				button {
					background-color: transparent;
					padding: 0.7% 5.5%;
					border: 1px solid #4e3227;
					float: left;
					overflow: hidden;
					transition: all .2s ease-in;
					position: relative;
					a {
						text-decoration: none;
						color: #4e3227;
						font-size: 21px;
						font-size: rem(21px);
						position: relative;
						z-index: 1;
					}
					.overlay {
						background-color: #a05324;
						position: absolute;
						top: 0;
						left: 0; 
						width: 100%;
						height: 100%;
						-webkit-transform: translateX(-100%);
						transform: translateX(-100%); 
						transition: all .2s ease-in;
					}
					&:hover {
						a {
							color: #fff;
						}
						.overlay { 
							-webkit-transform: translateX(0%);
							transform: translateX(0%); 
						} 
					}
				}
				.social {
					float: left;
					padding-left: 6%;
					p {
						font-size: 21px;
						font-size: rem(21px);
						color: #4e3227;
						float: left;
						font-weight: 300; 
						margin-right: 17px;
					} 
					li {
						float: left;
						list-style: none;
						&:nth-child(3){
							padding: 0 13px;
						} 
					} 
				} 
			}
			.tags {
				color: #8d744a; 
				padding-top: 3.5%;
				font-size: 18px;
				font-size: rem(18px);
			  font-weight: 100;
			  font-style: italic;
			} 
		}
		#pagination {
			padding-top: 5%;
			ul {
				width: 100%;
				li {
					a {
						border: 1px solid transparent;
						font-size: 21px;
						font-size: rem(21px);
  					font-weight: 300;
  					padding: 0 2%;
  					background-color: transparent;
  					color: #4e3227;
  					&:hover {
							border-color:#4e3227;
  					}
					}
					&:first-child a, &:last-child a, .next , .previous {
  					border: none;
  				}
				}
				li.active {
					a {
						border: 1px solid #4e3227;
					}
				}
			}
		}
	}
}

/*
	Blog
*/
.site-content {
	.content-blog {
		  padding: 132px 237px;
		h2 {
			color: #8d744a;
			font-family: "trajan-pro-3"
		}
		.separador {
			border-bottom:1px solid #8d744a;
			padding-top:2%;
			width: 36%;
		}
		#menu-blog {
			padding-top: 5%;
			padding-bottom: 8%;
			nav {
				a {
					padding: 0 7px;
					color: #8d744a;
					text-decoration: none;
					font-size: 18px;
					font-size: rem(18px);
					font-weight: lighter;
					padding: 5px 8px;
  				border: 1px solid transparent;
					&:hover {
						border-color:#8d744a;
					}
				}
			}
		}
		.post{
			border-bottom: 1px solid #3B2E29;
	  	padding-bottom: 6%; 
			.imagen {
				width: 100%;
				img {
					width: 100%; 
				}
			}
			.texto {
				padding-top: 2%;
				font-weight: 300;
				h2 {
					color: #4e3227;
				}
				p {
					padding-top: 2%;
					margin-bottom: 3%;
					font-size: 21px;
					font-size: rem(21px);
					line-height: 1.5;
					color: #4e3227; 
				} 
			}
			.botons {
				padding-top: 3%;
				button {
					background-color: transparent;
					padding: 0.7% 5.5%;
					border: 1px solid #4e3227;
					float: left;
					overflow: hidden;
					transition: all .2s ease-in;
					position: relative;
					a {
						text-decoration: none;
						color: #4e3227;
						font-size: 21px;
						font-size: rem(21px);
						position: relative;
						z-index: 1;
					}
					.overlay {
						background-color: #a05324;
						position: absolute;
						top: 0;
						left: 0; 
						width: 100%;
						height: 100%;
						-webkit-transform: translateX(-100%);
						transform: translateX(-100%); 
						transition: all .2s ease-in;
					}
					&:hover {
						a {
							color: #fff;
						}
						.overlay { 
							-webkit-transform: translateX(0%);
							transform: translateX(0%); 
						} 
					}
				}
				.social {
					float: left;
					padding-left: 6%;
					p {
						font-size: 21px;
						font-size: rem(21px);
						color: #4e3227;
						float: left;
						font-weight: 300; 
						margin-right: 17px;
					} 
					li {
						float: left;
						list-style: none;
						&:nth-child(3){
							padding: 0 13px;
						} 
					} 
				} 
			}
			.tags {
				color: #8d744a; 
				padding-top: 3.5%;
				font-size: 18px;
				font-size: rem(18px);
			  font-weight: 100;
			  font-style: italic;
			} 
		}
		#pagination {
			padding-top: 5%;
			ul {
				width: 100%;
				li {
					a {
						border: 1px solid transparent;
						font-size: 21px;
						font-size: rem(21px);
  					font-weight: 300;
  					padding: 0 2%;
  					background-color: transparent;
  					color: #4e3227;
  					&:hover {
							border-color:#4e3227;
  					}
					}
					&:first-child a, &:last-child a, .next , .previous {
  					border: none;
  				}
				}
				li.active {
					a {
						border: 1px solid #4e3227;
					}
				}
			}
		}
	}
}

/*
	Blog posts
*/
#blog-post {
	.container{
		padding: 125px 34px;
		padding: rem(125px) rem(34px);
	}
	.breadcrumb {
		padding-bottom: 3%;
		li {
			float: left;
			&::before {
				content: ">";
			}
			&:first-child::before {
				content: none;
			}
			a {
				padding: 0 22px;
				text-decoration: none;
				color: #8d744a;
				font-weight: lighter;
				font-size:18px;
				font-size: rem(18px);
			}
			span {
				padding: 0 22px;
				color: #8d744a;
				font-size:18px;
				font-size: rem(18px);
			}
		}
	}
	.imagen {
		width: 100%;
		img {
			width: 100%; 
		}
	}
	.texto {
		padding-top: 45px;
		font-weight: 300; 
		h2 {
			color: #4e3227;
			margin-bottom: 36px;
		}
		p {
			margin-bottom: 3%;
			font-size: 21px;
			font-size: rem(21px);
			line-height: 1.5;
			color: #4e3227; 
		}
		.gorro {
			margin: 7% 0;
			border-bottom: 1px solid #8d744a;
			border-top: 1px solid #8d744a;
			padding-top: 30px;
			p {
				text-transform: uppercase;
				color: #8d744a;
				font-weight: 400;
				font-family: "trajan-pro-3"; 
			}
		} 
	}
	.botons {
		padding-top: 8%;
		padding-bottom: 5%; 
		.social {
			float: left;
			p {
				font-size: 21px;
				font-size: rem(21px);
				color: #4e3227;
				float: left;
				font-weight: 300; 
				margin-right: 17px;
			} 
			li {
				float: left;
				list-style: none;
				&:nth-child(3){
					padding: 0 13px;
				} 
			} 
		}
	} 
}


/*
	Events
*/
#slider-events {
	background-image: url(../img/fotos/fotos-eventos/2-grande.png); 
	height: 500px;
  background-size: cover;
}

/*
	Gelería eventos
*/ 
#galeria{
	// padding: 5% 17% 8%;
	h1{
		font-family: "trajan-pro-3";
  	color: #8d744a;
	}
	.fecha{
		font-size: 21px;
		font-size: rem(21px);
  	font-weight: 100;
  	padding-bottom: 23px;
  	color: #4e3227;
	}
	.parrafo{
		font-size: 22px;
		font-size: rem(22px);
		font-weight: 100;
		line-height: 1.5;
		color: #4e3227;
	}
	.grid{
		padding-top: 25px;
		ul{
			list-style-type: none;
			margin:0 -9px;
			li{
				padding:9px;
				img{
					width: 100%;
				}
			}
		}
		#overlay {
		  background:rgba(0,0,0,0.9);
		  width:100%;
		  height:100%;
		  position:fixed;
		  top:0;
		  left:0;
		  text-align:center;
		  z-index: 100;
		  display: none;
		  img{
		  	width: 40%;
		  }
		  a{
		  	right: 25%;
  			top: 2%;
  			position: absolute;
  			background-color:transparent;
  			text-decoration: none;
  			cursor: pointer;
  			&:hover{
  				color:#8d744a;
  			}
		  }
		}
		.flex{
			display: flex;
			flex-direction: column;
		  flex-wrap: wrap;
		  justify-content: center;
		  align-content: flex-start;
		  align-items: center;
		}
	}
}

/*
	Menu blog
*/
#faqs {
	  // padding: 102px 235px 57px;
	.container{
	 	padding: 110px 33px;
	 	padding: rem(110px) rem(33px);
	 }
	h1 {
		color: #8d744a;
	}
	.separador {
		border-bottom: 1px solid #8d744a;
		padding-top: 2%;
		padding-left: 2%;
		width: 10%;
	}
	#menu-blog {
		padding-top: 5%;
		padding-bottom: 4%;
		nav {
			a {
				padding: 0 7px; 
				color: #8d744a;
				text-decoration: none;
				font-size: 18px;
				font-size: rem(18px);
				font-weight: lighter;
				border: 1px solid;
	  		padding: 5px 14px;
	  		border: 1px solid transparent;
	  		margin-right: 2%;
	  		&:hover  {
					border: 1px solid #8d744a;
		  		padding: 5px 14px;
				}
			} 
		}
	}
	.section {
		border-bottom: 1px solid;
  	padding-bottom: 5%;
  	padding-top: 4%;
  	&:last-child {
  		border-bottom:transparent; 
  	}
		h2 {
			color: #3B2E29; 
			padding-bottom: 5%;
		}
		.panel-title {
			padding-bottom: 2%;
			a {
				text-transform: uppercase;
				text-decoration: none;
				font-size: 19.6px;
				font-size: rem(19.6px);
				img {
					width: 21px;
					margin-right: 3%;
				}
			}
		}
		.panel-body {
			padding-left: 7%;
			padding: 0% 6% 5%;
			font-size: 19.6px;
			font-size: rem(19.6px);
  		font-weight: 300;
  		line-height: 1.5;
  		color: #3B2E29;
		}
	}	
}


/*
	Media kit
*/
#media-kit {
	padding: 110px 234px;
	h1:first-child {
		color: #8d744a;
		font-family: "trajan-pro-3";
	}
	.separador {
		border-bottom: 1px solid #8d744a;
		padding-top: 2%;
		padding-left: 2%;
		width: 25%;
	}
	#menu-blog {
		padding-top: 5%;
		padding-bottom: 8%;
		nav {
			a {
				padding: 0 7px; 
				color: #8d744a;
				text-decoration: none;
				font-size: 18px;
				font-size: rem(18px);
				font-weight: lighter;
				border: 1px solid;
	  		padding: 5px 14px;
	  		border: 1px solid transparent;
	  		margin-right: 2%;
	  		&:hover {
					border: 1px solid #8d744a;
		  		padding: 5px 14px;
				}
			}
		}
	}
	.active {
		border: 1px solid;
	  padding: 5px 14px;
	}
	#downloads {
		padding-top: 5%;
  	padding-bottom: 6%;
  	border-bottom: 1px solid #4e3227;
		nav {
			div {
				float: left;
				padding-right: 8.5%;
				p {
					font-size: 21px;
					font-size: rem(21px);
  				font-weight: 400;
  				color: #4e3227;
				}
				a {
					font-size: 18.2px;
					font-size: rem(18.2px);
  				font-weight: lighter;
  				text-decoration: none; 
  				img {
  					padding-right: 10px;
  					padding-bottom: 5%;
  				}
				}
			}
		}
	}
	.panel-group {
		.panel-default {
			padding-top: 7%;
			padding-bottom: 6%;
			border-bottom: 1px solid;
			&:nth-child(5) {
				border-bottom:none;
			}
			.panel-title a {
			  font-size: 32px;
			  font-size: rem(32px);
				font-weight: 300;
				font-family: "trajan-pro-3";
				text-decoration: none;
				img {
					padding-right: 2%;
				}
			}
			.panel-body {
				padding-top: 7%;
				.grid .descarga {
					padding: 7% 4% 18%;
					a {
						font-size: 16.8px;
						font-size: rem(16.8px);
  					font-weight: 300;
  					text-decoration: none;
						&:nth-child(2) {
							float:right;
						}
						img {
							padding-right: 10px;
							padding-bottom: 2%;
						}
					}
				}
			}
		}
	}
}

/*
	Terms
*/
#terms {
	padding: 106px 237px 124px; 
	h1 {
		color: #8d744a;
	}
	.separador {
		border-bottom: 1px solid #8d744a;
		margin-top: 3%;
  	margin-bottom: 5%;
		width: 29%;
	}
	p {
		color: #4e3227;
  	line-height: 1.8;
  	font-size: 21px;
  	font-size: rem(21px);
  	font-weight: 300;
	  margin-bottom: 2.5%;
	}
	.sub-title {
		text-transform: uppercase;
		color: #8d744a; 
		font-weight: 400;
		padding-bottom: 2%;
		padding-top: 1%; 
	}
}

/*
	Contact
*/
#container-contact{
	background-color: #3B2E29;
	display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: center;
  h3{
  	font-family: "trajan-pro-3";
  }
  .formulario{
  	padding-top: 14px;
  	position: relative;
  	input{
  		width: 280px;
  		height: 45px; 
		  background-color: transparent;
		  border: 1.5px solid #fff;
		  margin: 0 6px;
		}
		textarea{
			width: 576px;
  		height: 96px;
  		background-color: transparent;
		  border: 1.5px solid #fff;
		  margin-top: 17px;
		  padding-top: 18px;
		  margin-left: 6px;
		}
		input , textarea {
			font-size: 18px;
			font-size: rem(18px);
			padding-left: 15px;
			&::-webkit-input-placeholder {
			  color: #fff;
			  font-weight: lighter;
			}
			&:-moz-placeholder {
			  color: #fff;
			  font-weight: lighter; 
			}
			&:-ms-input-placeholder { 
			  color: #fff;
			  font-weight: lighter;
			}
		}
		button {
			width: 142px;
			height: 46px;
			background-color: transparent;
		  border: 1px solid white;
		  outline: none;
		  position: absolute;
  		right: 6px;
  		margin-top: 3px;
  		font-weight: 300;
  		overflow: hidden;
  		z-index: 1;
  		p {
				z-index: 1;
				position: relative;
				font-size: 18px;
				font-size: rem(18px);
  		}
			.overlay {
				background-color: #8d744a;
				position: absolute;
				top: 0;
				left: 0; 
				width: 100%;
				height: 100%;
				-webkit-transform: translateX(-100%);
				transform: translateX(-100%); 
				transition: all .2s ease-in;
			}
			&:hover {
				a {
					color: #fff;
				}
				.overlay { 
					-webkit-transform: translateX(0%);
					transform: translateX(0%); 
				} 
			}
		}
  }
}

/*
	Utilities
*/
.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.text-white {
	color: #fff;
}
.text-brown{
	color: #3B2E29;
}
.text-brown-light {
	color: #8d744a;
}
.text-bold {
	font-weight: bold;
}
.pd-0 {
	padding: 0;
}
.pd-5-15 { 
	padding: 5% 15%;
}
.mg-0 { 
	margin: 0;
}
.w-100 {
	width: 100%; 
}
.type-style-none {
	list-style: none;
}
.family-museosans {
	font-family: "MuseoSans";
}
.float-left {
	float: left; 
}
.bg-p-brown {
	background-color: #4e3227;
}
.bg-p-brownlight {
	background-color: #8d744a;
}
.line-height {
	line-height: 1.8;
}
.letter-spacing {
	letter-spacing: 1.5px;
}
.pt-8 {
	padding-top: 8%;
}