.site-content{
	.content-blog{
		padding: 4% 17%;
		h2{
			color: #8d744a;
		}
		.separador{
			border-bottom:1px solid #8d744a;
			padding-top:2%;
			width: 36%;
		}
		#menu-blog{
			padding-top: 5%;
			padding-bottom: 8%;
			nav{
				a{
					padding: 0 7px;
					color: #8d744a;
					text-decoration: none;
					font-size: 18px;
					font-weight: lighter;
					padding: 5px 8px;
  				border: 1px solid transparent;
					&:hover{
						border-color:#8d744a;
					}
				}
			}
		}
		.post{
			border-bottom: 1px solid #3B2E29;
	  		padding-bottom: 6%; 
			.imagen{
				width: 100%;
				img{
					width: 100%; 
				}
			}
			.texto{
				padding-top: 2%;
				font-weight: 300;
				h2{
					color: #4e3227;
				}
				p{
					padding-top: 2%;
					margin-bottom: 3%;
					font-size: 1.5rem;
					line-height: 1.5;
					color: #4e3227; 
				} 
			}
			.botons{
				padding-top: 3%;
				button{
					background-color: transparent;
					padding: 0.7% 5.5%;
					border: 1px solid #4e3227;
					float: left;
					-o-transiton: all 0.25s ease-in-out;
					-ms-transiton: all 0.25s ease-in-out;
					-moz-transiton: all 0.25s ease-in-out;
					-webkit-transiton: all 0.25s ease-in-out;
					transition: all 0.25s ease-in-out;  
					a{
						text-decoration: none;
						color: #4e3227;
						font-size: 1.5rem;
					}
					&:hover{ 
						border:1px solid transparent;
						background-color: #a05324;
						a{
							color: #fff; 
						}
					}
				}
				.social{
					float: left;
					padding-left: 6%;
					p{
						font-size: 1.5rem;
						color: #4e3227;
						float: left;
						font-weight: 300; 
						margin-right: 17px;
					} 
					li{
						float: left;
						list-style: none;
						&:nth-child(3){
							padding: 0 13px;
						} 
					} 
				} 
			}
			.tags{
				color: #8d744a; 
				padding-top: 3.5%;
				font-size: 1.3rem;
			  	font-weight: 100;
			  	font-style: italic;
			} 
		}
		#pagination{
			padding-top: 5%;
			ul{
				width: 100%;
				li{
					a{
						border: 1px solid transparent;
						font-size: 1.5rem;
  					font-weight: 300;
  					padding: 0 2%;
  					background-color: transparent;
  					color: #4e3227;
  					&:hover{
							border-color:#4e3227;
  					}
					}
					&:first-child a, &:last-child a, .next , .previous {
  						border: none;
  					}
				}
				li.active{
					a{
						border:1px solid #4e3227;
					}
				}
			}
		}
	}
}