#blog-post{
	padding: 5% 17%;
	.breadcrumb{
		padding-bottom: 3%;
		li{
			float: left;
			&::before{
				content:">";
			}
			&:first-child::before{
				content: none;
			}
			a{
				padding: 0 22px;
				text-decoration: none;
				color: #8d744a;
				font-weight: lighter;
				font-size:1.3rem;
			}
			span{
				padding: 0 22px;
				color: #8d744a;
				font-size:1.3rem; 
			}
		}
	}
	.imagen{
		width: 100%;
		img{
			width: 100%; 
		}
	}
	.texto{
		padding-top: 2%;
		font-weight: 300; 
		h2{
			color: #4e3227;
		}
		p{
			padding-top: 2%;
			margin-bottom: 3%;
			font-size: 1.5rem;
			line-height: 1.5;
			color: #4e3227; 
		}
		.gorro{
			margin: 7% 0;
			border-bottom: 1px solid #8d744a;
			border-top: 1px solid #8d744a;
			p{
				text-transform: uppercase;
				color: #8d744a;
				font-weight: 400;
				font-family: "trajan-pro-3"; 
			}
		} 
	}
	.botons{
		padding-top: 8%;
		padding-bottom: 5%; 
		.social{
			float: left;
			p{
				font-size: 1.5rem;
				color: #4e3227;
				float: left;
				font-weight: 300; 
				margin-right: 17px;
			} 
			li{
				float: left;
				list-style: none;
				&:nth-child(3){
					padding: 0 13px;
				} 
			} 
		}
	} 
}