#faqs{
	padding: 5% 17%;
	h2{
			color: #8d744a;
		}
	.separador{
		border-bottom:1px solid #8d744a;
		padding-top:2%;
		padding-left: 2%;
		width: 10%;
	}
	#menu-blog{
		padding-top: 5%;
		padding-bottom: 4%;
		nav{
			a{
				padding: 0 7px; 
				color: #8d744a;
				text-decoration: none;
				font-size: 18px;
				font-weight: lighter;
				border: 1px solid;
	  		padding: 5px 14px;
	  		border: 1px solid transparent;
	  		margin-right: 2%;
				&:first-child{
					border: 1px solid;
	  			}
	  		&:hover{
				border: 1px solid #8d744a;
	  		padding: 5px 14px;
			}
			}

		} 
	}
	.section{
		border-bottom: 1px solid;
  	padding-bottom: 5%;
  	padding-top: 4%;
  	&:last-child{
  		border-bottom:transparent; 
  	}
		h2{
			color: #3B2E29; 
			padding-bottom: 5%;
		}
		.panel-title{
			padding-bottom: 2%;
			a{
				text-transform: uppercase;
				text-decoration: none;
				font-size: 1.4rem;
				img{
					width: 21px;
					margin-right: 3%;
				}
			}
		}
		.panel-body{
			padding-left: 7%;
			padding: 0% 6% 5%;
			font-size: 1.4rem;
  		font-weight: 300;
  		line-height: 1.5;
  		color: #3B2E29;
		}
	}
	
}