/*@font-face{
	font-family: MuseoSans;
	src: url(../fonts/museo-sans/MuseoSans.otf);
}*/
html, body{
	height:auto;
	font-family: "museo-sans";
}
.container{
	width:100%;
	padding:0; 
}
h1, h2{
	font-family: "trajan-pro-3";
}
.site-menu{
	position: relative;
	height: 61px;
	.contenedor-menu{
		position: fixed;
	  	top: 0;
	  	width: 100%;
	  	height: 61px;
	  	background: #3b2e29;
	 	z-index: 10; 
	 	nav{
	 		display: inline-block;
	 		a{
				height: 61px;
  				float: left;
  				text-align: center;
  				text-decoration: none;
  				position: relative;
  				div{
					font-size: 14px; 
  					color: #3b2e29;
  					letter-spacing: 0px;
  					text-decoration: none;
  					display: block;
  					text-align: center;
				  	position: relative;
				  	top: 0;
				  	line-height: 62px;
				  	display: flex;
  					flex-direction: column;
  					flex-wrap: wrap;
  					justify-content: center;
  					align-content: flex-start;
  					align-items: center;
				  	height: 61px;
				  	letter-spacing: .08em;
				  	transition: all .5s;
				  	background-color: rgb(248, 244, 229);
				  	text-transform: uppercase;
				  	-webkit-transform: rotateX(-90deg);
				  	transform: rotateX(-90deg);
				  	-webkit-transform-origin: center top;
				  	transform-origin: center top;
				  	z-index: 1;
				  	padding: 0 33px;
	  				&:first-child{
	  					-webkit-transform: rotateX(0deg);
	  					transform: rotateX(0deg);
	  					-webkit-transform-origin: center bottom;
	  					transform-origin: center bottom;
	  					background-color: #3b2e29;
	  					color: rgb(248, 244, 229);
	  					top: 0;
	  					z-index: 2;
	  				}
  				}
  				&:hover{
  					div{
  						-webkit-transform: rotateX(0deg);
  						transform: rotateX(0deg);
  						top: -61px;
  						height: 61px;
  					}
  					div:first-child{
  						top: -70px;
  						z-index: 1;
  						-webkit-transform: rotateX(90deg);
  						transform: rotateX(90deg);
  					}
  				}
	 		}
	 		a.logo-link div{
				width: 200px;
				line-height: 55px!important;
  				display: block;
				img{
					width: 100%; 
				}
			}
	 	}
	}
}
.site-content{
	.img-principal{
		height: 600px;
		background-image: url(../img/fotos/foto-home.png);
		background-size: cover;
  		background-repeat: no-repeat;
  		padding-top: 10%;
  		div.texto{
  			font-family: times;
  			h1{
				font-size: 4rem;
  			}
  			h3{
				font-style: italic;
  			}
  			p{
  				font-size: 1.7rem;
  				font-family: "museo-sans";
  				font-weight: lighter;
  				font-style: italic;
  				margin-top: 18px;
  				letter-spacing: 0;
  			}
  		}
  		.scroll-down{
  			width: 90px;
  			margin: 0 auto;
  			padding-top:6%;
  			img{
  				width: 100%;
  			}
  		}
	}
	#about-us{
		background-image: url(../img/texturas/debut_light/debut_light.png);
		padding: 5% 17% 12%;
		background-size: 30%;
		h1{
			font-size: 35px;
		}
		h3{
			font-style: italic;
		}
		.texto-about{
			padding: 9% 0 0 17%;
			.separador{
				border-bottom:1px solid #3b2e29;
				padding-top:4%;
			}
			p{
				padding-top:6%;
				font-size: 1.5rem;
				font-weight: 300;
			}
		}
	} 
	#the-goods{
		background-color:rgb(248, 244, 229);
		padding: 8% 17%;
		h1{
			font-size: 35px;
		}
		h3{
			font-style: italic;
		}
		.slider-text{
			padding: 5% 0 0 13%;
			width: 50%;
			float: left; 
			.separador{
				border-bottom:1px solid #3b2e29;
				padding-top:4%;
			}
			p{
				padding-top:6%;
				font-size: 1.5rem;
				font-weight: 300;
			}
		}
		.slider-img{
			position: relative;
  			right: 17%;
  			bottom: 16%;
 			height: 600px;
 			.slider-content{
				width: 210px;
				position: absolute;
				top: -25%;
				right: -10%;
			}
		}
		
	}
	#follow-us{
		background-color: #8d744a;
		padding: 6% 17%;
		h3{
			font-weight: lighter;
  			font-style: italic;
		}
		.container-social {
			display: inline-block;
			padding-top: 4%;
			font-family: "MuseoSans";
			a {
				display: block;
				width: 180px;
  				height: 180px;
				border: 1.5px solid #fff;
				float: left; 
 				margin-right: 24px;
  				margin-bottom: 26px;
  				position: relative;
  				text-decoration: none;
  				overflow: hidden;
  				transition: all .5s ease-in-out;
  				padding: 2% 3%;
  				.overlay{
					background-image: url(../img/texturas/textura-hover-redes.png);
					position: absolute;
					top: 0;
					left: 0; 
					width: 100%;
					height: 100%;
					-webkit-transform: translateX(-100%);
					transform: translateX(-100%); 
					transition: all .5s ease-in; 
				}
				&:hover{
					color: #fff;
					.overlay{ 
						-webkit-transform: translateX(0%);
						transform: translateX(0%); 
					} 
				}
				h1, p{
					font-family: "Museo-Sans";
					position: relative;
					z-index: 1;
				} 
				p{ 
					font-size: 1.5rem;
  					font-weight: lighter;
  					padding-top: 3%;
  					line-height: 1.3;
  					font-style: italic;
				}
				.icon{
					position: absolute;
  					width: 45px;
  					bottom: 8%;
  					right: 10%;
  					img{
  						width: 100%;
  					}
				}
			} 
		}
	}
}
footer{
	color: #8d744a;
	.footer-logo{
		width: 70px; 
	}
	.texto{
		padding-left: 10%;
	}
	p{
		font-size: 12px;
		margin: 0;
		margin-bottom: 3px; 
	}
	.col-md-3 p{
		margin-bottom: 10px; 
		a{
			border-bottom: 1px solid #8d744a;
			text-decoration: none;
			color: #8d744a;
			&:hover{
				color:#4e3227;
			}
		} 
	}
}

$facebook: #3B5998;
$twitter:  #33CCFF;
$youtube:  #E42526;
$instagram: #4187FB;

.border-right {
	border-right: 1px solid #ccc;
}