#terms{
	padding:3% 18% 10%; 
	h2{
		color: #8d744a;
	}
	.separador{
		border-bottom:1px solid #8d744a;
		margin-top: 3%;
  		margin-bottom: 6%;
		width: 36%;
	}
	p{
		color: #4e3227;
	  	line-height: 1.8;
	  	font-size: 1.5rem;
	  	font-weight: 300;
	}
	.sub-title{
		text-transform: uppercase;
		color: #8d744a; 
		font-weight: 400;
	}
}