{embed="includes/head"}
  <body>
    <div class="site-wrapper"> <!-- Body -->
      {embed="includes/header" huamani="{path='home'}" about="{path='home'#about-us}" goods="{path='home'}#the-goods" make="{path='home'}#make-drink" events="{path='home'}#events"} 
      <main class="site-content">
        {embed="includes/overlay-menu"}
        <section id="contact">
          <div id="container-contact">
            <h1 class="text-white text-uppercase">{exp:transcribe:replace name="titulo_contact"}</h1>
            <div class="formulario relative pt-28">
                <div class="error-nombre absolute hidden-xs hidden-sm"></div>
                <div class="error-correo absolute hidden-xs hidden-sm"></div>
                <div class="error-comentario absolute hidden-xs hidden-sm"></div>
                {exp:channel:entries channel="contact" dynamic="off"}
                  {exp:freeform:form
                    form_id="2"
                    required="name|email|comment"
                    return="thanks/index"
                  }
                    
                      {freeform:field:name attr:id="nombre" attr:type="text" attr:data-id="0" attr:maxlength="25" attr:class="input-contact text-white thin name mv-0-md mh-7-md m-0-xs mb-21-xs fz-18 ph-14" attr:placeholder="{campo_name}" attr:name="name"}
                      {freeform:field:email attr:id="correo" attr:type="email" attr:data-id="1" attr:class="input-contact text-white thin e-mail mv-0-md mh-7-md mb-21-xs ph-14-xs m-0-xs fz-18 ph-14" attr:data-id="2" attr:maxlength="25" attr:placeholder="{campo_email}" attr:name="email"}<br>
                      <p>{freeform:field:comment attr:id="comentario" attr:attr:type="textarea" attr:data-id="3" attr:maxlength="600" attr:class="input-contact text-white thin message ml-7-md mt-21-md m-0-xs pv-14 fz-18 ph-14" attr:onkeyup="auto_grow(this)" attr:placeholder="{campo_message}" attr:name="comment"}</p>
                      {freeform:submit attr:class="submit text-white send absolute fz-18" attr:value="{boton_de_envio}"}
                    
                  {/exp:freeform:form}
                {/exp:channel:entries}
            </div>
          </div>
        </section>
        {embed="includes/follow"}
      </main>
      {embed="includes/footer"}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{site_url}frontend/app/assets/js/forms-control.js"></script>
    <script src="{site_url}frontend/app/assets/js/menu-movil-control.js"></script>
    <script src="{site_url}frontend/app/assets/js/textarea-control.js"></script>
    <script src="{site_url}frontend/app/assets/js/contact-control.js"></script>
  </body>
</html> 
