{embed="includes/head"}
  <body>
    <div class="site-wrapper"> <!-- Body -->
      {embed="includes/header" huamani="{path='home'}" about="{path='home'#about-us}" goods="{path='home'}#the-goods" make="{path='home'}#make-drink" events="{path='home'}#events"} 
      <main class="site-content">
        {embed="includes/overlay-menu"}
        <section>
          <div id="container-contact" class="minhp-100">
            <h1 class="text-white">GET IN TOUCH</h1>
            <div class="formulario relative pt-28">
                <div class="error-nombre absolute"></div>
                <div class="error-correo absolute"></div>
                <div class="error-comentario absolute"></div>
                {exp:freeform:composer
                  form_name="contact_form"
                  composer_template_name="contact_form"
                  return="thanks/index"
                }
            </div>
          </div>
        </section>
        {embed="includes/follow"}
      </main>
      {embed="includes/footer"}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{site_url}frontend/app/assets/js/forms-control.js"></script>
    <script src="{site_url}frontend/app/assets/js/menu-movil-control.js"></script>
    <script src="{site_url}frontend/app/assets/js/textarea-control.js"></script>
    <script src="{site_url}frontend/app/assets/js/contact-control.js"></script>
  </body>
</html> 
