{embed="includes/head"}
  <body>
    <div class="site-wrapper"> <!-- Body -->
      {embed="includes/header" huamani="{path='home'}" about="{path='home'#about-us}" goods="{path='home'}#the-goods" make="{path='home'}#make-drink" events="{path='home'}#events"}
      <main class="site-content">
        {embed="includes/overlay-menu"}
        <section id="slider-events" class="hidden-xs relative">
          <!-- <div class="overlay-fondo w-100 minh-100 absolute" style="z-index:2"></div> -->
          <div class="gallery-wrapper row p-0">
            <div class="gallery-child relative">
              {embed="events/img_events"}
            </div>
            <div class="container relative clearfix pt-42 mt-70 pl-42" style="z-index:3">
              <div id="slider_back_experience" class="gallery-button-left" style="top:245px!important; left:-7%!important">
                <img src="{site_url}frontend/app/assets/img/iconos-logos/icono-previo-blanco.png" alt="">
              </div>
              <div id="slider_next_experience" class="gallery-button-right" style="top:245px!important; right:-7%!important">
                <img src="{site_url}frontend/app/assets/img/iconos-logos/icono-siguiente-blanco.png" alt=""> 
              </div> 
              <div class="row pb-70 mb-70 absolute hidden-xs" style="padding-top: 30px; width:100%">
                {embed="events/slider_events" selected_id="{post:selected}"}
                <div class="clearfix ">
                  <div id="slider-text-experience" data-selected="{embed:selected_id}" class="slider-text-oficial relative pl-0 pr-42 pt-21 text-white col-md-5" style="z-index: 1;">
                  </div>
                </div>
              </div>
            </div>
          </div> 
        </section>
        <section id="galeria">
          <div class="container pv-21-md pv-0-xs">
            <div class="grid">
              {exp:channel:entries channel="events" dinamyc="off" sort="asc"}
              <div class="ronda-1 hidden" data-A="{entry_id}" data-B="{post:selected}" data-C="{url_title}" data-D="{group_id}" data-index="{absolute_count}" {if "{entry_id}" == "{post:selected}"} data-current="1"{if:else}data-current="0"{/if}>
                <ul class="row mg-0 pd-0">
                    {galeria_de_imagenes}
                    <li class="col-md-4 col-xs-6" data-A="{entry_id}" data-B="{image_id}"><a href="{image:url}" class="grid-image"><img src="{image:url}" alt=""></a></li>
                    {/galeria_de_imagenes}
                </ul>
              </div>
              {/exp:channel:entries}
              <div id="container-ronda"></div>
              <div id="overlay">
                <a class="close text-white pv-7 ph-14 thin" data-dismiss="modal">&times;</a>
                <a class="previous-overlay controls" data-image-index="" href="">
                  <img src="{site_url}frontend/app/assets/img/iconos-logos/icono-previo-blanco.png" alt="">
                </a>
                <img src="" class="img-overlay">
                <a class="next-overlay controls" data-image-index="" href="">
                  <img src="{site_url}frontend/app/assets/img/iconos-logos/icono-siguiente-blanco.png" alt="">
                </a>
              </div>
            </div>
          </div>
        </section>
        {embed="includes/follow"}
      </main>
      {embed="includes/footer"}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flickity/1.0.2/flickity.pkgd.js"></script>
    <script src="{site_url}frontend/app/assets/js/gallery-control.js"></script>
    <script src="{site_url}frontend/app/assets/js/menu-movil-control.js"></script>
    <script src="{site_url}frontend/app/assets/js/slide-texto-control.js"></script>
    <!-- <script src="{site_url}frontend/app/assets/js/smooth-scroll-active.js"></script> -->
    <script src="{site_url}frontend/app/assets/js/overlay-control.js"></script>
    <script>
    // $(document).ready(function(){
    //   $(".gallery-cell").removeClass("is-selected");
    //   var dataNumberEntry = $(".gallery-cell").data("entry");
    //   if( dataNumberEntry == {post:selected}) {
    //     $(this).addClass("is-selected");
    //   }
    // });
    </script>
    <!--<script>
      $(document).ready(function(){
        paginacion(".numeracion1", ".group-1");
        paginacion(".numeracion2", ".group-2");
        paginacion(".numeracion3", ".group-3");
        function paginacion(hola, groupNumber){
          $(hola).click(function(e){
            e.preventDefault();
            $(".numeracion").removeClass("active");
            $(this).addClass("active");
            $(".group").addClass("hidden");
            $(groupNumber).removeClass("hidden");
          });
        }
        callBtn(".first", ".numeracion1", ".group-1");
        callBtn(".last", ".numeracion3", ".group-3");
        function callBtn(btn, hola, groupNumber){
          $(btn).click(function(e){
            e.preventDefault();
            $(".numeracion").removeClass("active");
            $(hola).addClass("active");
            $(".group").addClass("hidden");
            $(groupNumber).removeClass("hidden");
          });
        }
         
        $(".li-next").click(function(e){
          e.preventDefault();
          // $item = $item.focus(); 
          var n = $(".numeracion").data("id"); 
          $(".numeracion")[n+1].click();
          var $(".numeracion") = $(".numeracion")[n+1];
        });
        $(".li-previous").click(function(e){
          e.preventDefault();
          // $item = $item.prev();
          var n = $(".numeracion").data("id") 
          $(".numeracion")[n-1].click();
          var $(".numeracion") = $(".numeracion")[n-1];
        });

      });
    </script>-->
  </body>
</html> 