{exp:channel:entries channel="events" dinamyc="off" sort="desc" orderby="date"}
  <div id="#{count}" class="text-opacity hidden events-slide" data-index="{count}"
  data-current="0" data-selected="{embed:selected_id}" data-slide-id="{entry_id}">
    <h2 class="text-uppercase mt-0-xs mt-0-sm">{titulo_events}</h2>
    <div class="separador mt-14 mb-28"></div>
    <p class="fecha-evento fz-20 thin">
      {if '{exp:transcribe:language_abbreviation}' == 'en'}
        {entry_date format="%F %d<sup>%S</sup>"}
      {if:else} 
        {exp:datetime_convert language="es_ES" format="%d de %B" convert_entities="yes|no"}
          {entry_date format="%F %d"}
        {/exp:datetime_convert}
      {/if}
    </p>
    <h3 class="p-0 m-0 text-uppercase">{lugar_events}</h3>
    <p class="fz-19 pt-21 thin mb-42">{introduccion_events}</p>
    <a href="/{exp:transcribe:language_abbreviation}/events" class="event-show mt-21 btn-default see-more text-uppercase text-white fz-20" data-entry-id="{entry_id}" onclick="return eventRedirect(this);">{exp:transcribe:replace name='button_event'}</a>
  </div>

{/exp:channel:entries}

