{exp:channel:entries channel="events" dinamyc="off" sort="asc"}
  <div id="#{count}" class="text-opacity hidden events-slide" data-index="{count}" data-current="0">
    <h2 class="text-uppercase mt-0-xs mt-0-sm">{titulo_events}</h2>
    <div class="separador mt-14 mb-28"></div>
    <p class="fz-20 thin">{fecha_events}</p><!-- <sup>th</sup> -->
    <h3 class="p-0 m-0 text-uppercase">{lugar_events}</h3>
    <p class="fz-19 pt-21 thin">{introduccion_events}</p>
    <button class="see-more relative">
      <a href="{path='events'}" class="text-uppercase relative fz-20">{exp:transcribe:replace name="button_event"}</a>
      <div class="overlay absolute minhp-100 btn-block"></div>
    </button>
  </div>
{/exp:channel:entries}