{exp:channel:entries channel="events" dinamyc="off"}
  <div id="#{count}" class="text-opacity hidden events-slide" data-index="{count}"
  {if "{entry_id}" == "{embed:selected_id}"}
  data-current="1"
  {if:else}
  data-current="0"
  {/if}
  data-selected="{embed:selected_id}">
    <h2 class="text-uppercase mt-0-xs mt-0-sm">{titulo_events}</h2>
    <div class="separador mt-14 mb-28"></div>
    <p class="fecha-evento fz-20 thin">
      {if '{exp:transcribe:language_abbreviation}' == 'en'}
        {entry_date format="%F %d<sup>%S</sup>"}
      {if:else} 
        {exp:datetime_convert language="es_ES" format="%d de %B" convert_entities="yes|no"}
          {entry_date format="%F %d"}
        {/exp:datetime_convert}
      {/if}
    </p>
    <h3 class="p-0 m-0 text-uppercase">{lugar_events}</h3>
    <p class="fz-19 pt-21 thin">{introduccion_events}</p>
    <form action="/{exp:transcribe:language_abbreviation}/events" method="post">
      <input type="hidden" name="XID" value="{XID_HASH}" />
      <input type="hidden" value="{entry_id}" name="selected">
      <button class="see-more relative">
        <input type="submit" value="{exp:transcribe:replace name='button_event'}" class="light text-uppercase relative fz-20">
        <div class="overlay absolute minhp-100 btn-block"></div>
      </button> 
    </form>
  </div>

{/exp:channel:entries}

