{embed="includes/head"}
	<body>
		<div class="site-wrapper"> <!-- Body -->
      {embed="includes/header" about="{path='home'#about-us}" goods="{path='home'}#the-goods" make="{path='home'}#make-drink" events="{path='home'}#events"}
      <main class="site-content" style="background-color: #f8f4e5;">
        {embed="includes/overlay-menu"}
        <div class="content-blog container mt-70 pv-70 ph-21"> 
          <h1 class="">THE HUAMANI LIFE</h1>
          <div class="separador"></div>
          <div id="menu-blog" class="pv-42">
              <nav class="hidden-xs fz-18 p-ch-7">
                  <a href="" class="btn-select fz-18 active-select">ALL</a>
                  <a href="" class="btn-select fz-18">EVENTS</a>
                  <a href="" class="btn-select fz-18">CUSTOMERS</a>
                  <a href="" class="btn-select fz-18">PROFILES</a>
                  <a href="" class="btn-select fz-18">QUOTES</a>
                  <a href="" class="btn-select fz-18">FAN</a>
                  <a href="" class="btn-select fz-18">LEISURE</a>
                  <a href="" class="btn-select fz-18">BEHIND THE SCENES</a>
              </nav>
              <nav class="hidden-lg hidden-md hidden-sm"><!--movil-->
                  <a href="" class="btn-select fz-18 active-select">ALL</a></br>
              </nav>
          </div>
          <div class="post pb-42">
              <div class="imagen hidden-xs">  
                  <img src="{site_url}frontend/app/assets/img/fotos/foto-eventos.png" alt="">
              </div>
              <div class="imagen-movil hidden-lg hidden-md hidden-sm" style="background:url({site_url}frontend/app/assets/img/fotos/foto-eventos.png)"></div><!--movil-->
              <div class="texto">
                  <p class="fecha mb-28">Apr 8<sup>th</sup></p>
                  <h2>BLOG POST TITLE 1</h2>
                  <p class="parrafo fz-18 mb-28">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum repellat sint quisquam provident magni quas, sequi vitae natus totam, ducimus commodi sunt blanditiis voluptate non perferendis quidem obcaecati, deserunt maxime! Ducimus commodi sunt blanditiis voluptate non perferendis quidem obcaecati, deserunt maxime!.Sequi vitae natus totam, ducimus commodi sunt blanditiis voluptate non perferendis quidem obcaecati</p>
              </div>
              <p class="tags hidden-lg hidden-md hidden-sm"><span class="text-bold">Tags:</span> Leishure, Profiles.</p>
              <div class="botons clearfix">
                <button class="relative">
                    <a href="blog-post.html" class="text-white fz-21 relative" style="z-index:1">READ MORE</a>
                    <div class="overlay absolute minhp-100"></div>
                </button>
                <div class="social clearfix pl-0-xs">
                  <p class="fecha share">SHARE:</p>
                  <li class="mv-0 mh-7 text-center">
                    <a href="http://www.facebook.com/sharer.php?u=https://www.facebook.com/piscohuamani" target="_blank"><span class="icon-facebook">&#xea8c;</span></a>
                  </li>
                  <li class="mv-0 mh-7 text-center">
                    <a  href = " https://twitter.com/share?url=https://twitter.com/piscohuamani & text=Simple%20Share%20Buttons & hashtags=simplesharebuttons "  target = " _blank "><span class="icon-twitter2">&#xe602;</span></a>
                  </li>
                  <li class="mv-0 mh-7 text-center">
                  <a href = "https://plus.google.com/share?url=https://plus.google.com/107812576428175904914/about" target = "_blank"><span class="icon-google-plus">&#xea88;</span></a>
                  </li>
                </div>
              </div> 
              <p class="tags hidden-xs fz-18 pt-35 pb-14"><span class="text-bold">Tags:</span> <a href="">Customers,</a><a href=""> Leishure,</a><a href=""> Profiles.</a></p>
          </div>
          <div class="post pt-8 pb-42">
              <div class="imagen hidden-xs">  
                  <img src="{site_url}frontend/app/assets/img/fotos/foto2-eventos.png" alt="" >
              </div>
              <div class="imagen-movil hidden-lg hidden-md hidden-sm" style="background:url({site_url}frontend/app/assets/img/fotos/foto-eventos.png)"></div><!--movil-->
              <div class="texto">
                  <p class="fecha mb-28">Apr 8<sup>th</sup></p>
                  <h2>BLOG POST TITLE 1</h2>
                  <p class="parrafo fz-18 mb-28">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum repellat sint quisquam provident magni quas, sequi vitae natus totam, ducimus commodi sunt blanditiis voluptate non perferendis quidem obcaecati, deserunt maxime! Ducimus commodi sunt blanditiis voluptate non perferendis quidem obcaecati, deserunt maxime!.Sequi vitae natus totam, ducimus commodi sunt blanditiis voluptate non perferendis quidem obcaecati</p>
              </div>
              <p class="tags hidden-lg hidden-md hidden-sm"><span class="text-bold">Tags:</span> Leishure, Profiles.</p>
              <div class="botons clearfix">
                <button class="relative">
                    <a href="blog-post.html" class="text-white fz-21 relative" style="z-index:1">READ MORE</a>
                    <div class="overlay absolute minhp-100"></div>
                </button>
                <div class="social clearfix pl-0-xs">
                  <p class="fecha share">SHARE:</p>
                  <li class="mv-0 mh-7 text-center">
                    <a href="http://www.facebook.com/sharer.php?u=https://www.facebook.com/piscohuamani" target="_blank"><span class="icon-facebook">&#xea8c;</span></a>
                  </li>
                  <li class="mv-0 mh-7 text-center">
                    <a  href = " https://twitter.com/share?url=https://twitter.com/piscohuamani & text=Simple%20Share%20Buttons & hashtags=simplesharebuttons "  target = " _blank "><span class="icon-twitter2">&#xe602;</span></a>
                  </li>
                  <li class="mv-0 mh-7 text-center">
                  <a href = "https://plus.google.com/share?url=https://plus.google.com/107812576428175904914/about" target = "_blank"><span class="icon-google-plus">&#xea88;</span></a>
                  </li>
                </div>
              </div> 
              <p class="tags hidden-xs fz-18 pt-35 mb-21 pb-14"><span class="text-bold">Tags:</span> <a href="">Customers,</a><a href=""> Leishure,</a><a href=""> Profiles.</a></p>
          </div>
          <div id="pagination">
            <nav>
              <ul class="pagination hidden-xs">
                <li><a href="#">First</a></li>
                <li>
                  <a class="previous" href="#" aria-label="Previous">
                    <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                  </a>
                </li>
                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>                            
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                  <a class="next" href="#" aria-label="Next">
                    <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                  </a>
                </li>
                <li><a href="#">Last</a></li>
              </ul>
              <ul class="pagination hidden-lg hideen-md hidden-sm"><!--movil-->
                <li>
                  <a class="previous" href="#" aria-label="Previous">
                    <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                  </a>
                </li>
                <li class="active"><a href="#">2<span class="sr-only">(current)</span></a></li>                            
                <li>
                  <a class="next" href="#" aria-label="Next">
                    <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        {embed="includes/follow"}
      </main> 
      {embed="includes/footer"}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="assets/js/menu-movil-control.js"></script>
    <script src="assets/js/ingreso-control.js"></script>
    <script src="assets/js/smooth-scroll-active.js"></script>
  </body>
</html>